<a href="https://colab.research.google.com/github/nosadchiy/public/blob/main/getExchangeRates_Frankfurter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import requests
from datetime import datetime, timedelta, date
import pandas as pd
from scipy.stats import multivariate_normal
import pandas as pd
import numpy as np
from gurobipy import Model, GRB, quicksum
from tabulate import tabulate
import datetime as dt
_empty_series = pd.Series(dtype=float)

In [51]:
import requests
from datetime import datetime, timedelta, date

def get_month_end_dates(start_date_str, end_date_str):
    """
    Generate a list of dates representing the last day of each month
    between start_date and end_date. If the end_date falls in the middle
    of a month, that date will be used for the final month.
    """
    start_date = datetime.strptime(start_date_str, '%Y-%m-%d').date()
    end_date   = datetime.strptime(end_date_str, '%Y-%m-%d').date()
    month_end_dates = []

    # Start from the first day of the month of start_date.
    current = start_date.replace(day=1)

    while current <= end_date:
        # Determine the first day of the next month.
        if current.month == 12:
            next_month = date(current.year + 1, 1, 1)
        else:
            next_month = date(current.year, current.month + 1, 1)

        # Last day of the current month is one day before the first day of the next month.
        last_day_of_month = next_month - timedelta(days=1)

        # If the last day of the month is after the specified end_date,
        # then use end_date (if it is in the same month) instead.
        if last_day_of_month > end_date:
            last_day_of_month = end_date

        if last_day_of_month >= start_date:
            month_end_dates.append(last_day_of_month)

        # Move to the first day of the next month.
        current = next_month

    return month_end_dates

def get_exchange_rate_for_date(date_str, base_currency="USD", symbols=None):
    """
    Fetches exchange rates for the given date from the Frankfurter API.

    :param date_str: The date string in 'YYYY-MM-DD' format.
    :param base_currency: The base currency (default "USD").
    :param symbols: A list of target currency codes.
    :return: A dictionary of exchange rates.
    """
    url = f"https://api.frankfurter.app/{date_str}"
    params = {"from": base_currency}
    if symbols:
        params["to"] = ",".join(symbols)

    response = requests.get(url, params=params)

    if response.status_code == 200:
        data = response.json()
        return data.get("rates", {})
    else:
        print(f"Error fetching data for {date_str}: HTTP {response.status_code}")
        return {}

def estimate_statistics(exchange_data):
    """
    Given a dictionary of exchange rate data with dates as keys and
    rate dictionaries as values, this function computes:

      - The average exchange rate vector.
      - The variance-covariance matrix of the exchange rates.

    :param exchange_data: dict of the form {date_str: {currency: rate, ...}, ...}
    :return: A tuple (average_vector, covariance_matrix) where:
             - average_vector is a pandas Series.
             - covariance_matrix is a pandas DataFrame.
    """
    # Convert the nested dictionary to a pandas DataFrame.
    # Rows are indexed by date and columns are the currency codes.
    df = pd.DataFrame.from_dict(exchange_data, orient="index")
    df.index = pd.to_datetime(df.index)
    df.sort_index(inplace=True)

    # Calculate the average exchange rate for each currency.
    average_vector = df.mean()

    # Calculate the variance-covariance matrix of the exchange rates.
    covariance_matrix = df.cov()

    return average_vector, covariance_matrix

In [5]:
# Specify the time period and target currencies.
start_date_str = "2019-01-01"  # Change to your desired start date.
end_date_str   = "2023-12-31"  # Change to your desired end date.
target_currencies = ['BRL', 'EUR', 'INR', 'JPY', 'MXN']

# Get a list of month-end dates for the given period.
month_end_dates = get_month_end_dates(start_date_str, end_date_str)

# Dictionary to hold the results.
exchange_data = {}

# Fetch the exchange rates for each month-end date.
for d in month_end_dates:
    date_str = d.isoformat()
    print(f"Fetching rates for {date_str}...")
    rates = get_exchange_rate_for_date(date_str, base_currency="USD", symbols=target_currencies)
    exchange_data[date_str] = rates

# Display the collected exchange rate data.
print("\nExchange Rates at Month End:")
for date_str, rates in exchange_data.items():
    print(f"{date_str}: {rates}")

# Estimate average exchange rate vector and the variance-covariance matrix.
avg_vector, cov_matrix = estimate_statistics(exchange_data)

print("\nAverage Exchange Rate Vector:")
print(avg_vector)

print("\nVariance-Covariance Matrix:")
print(cov_matrix)

Fetching rates for 2019-01-31...
Fetching rates for 2019-02-28...
Fetching rates for 2019-03-31...
Fetching rates for 2019-04-30...
Fetching rates for 2019-05-31...
Fetching rates for 2019-06-30...
Fetching rates for 2019-07-31...
Fetching rates for 2019-08-31...
Fetching rates for 2019-09-30...
Fetching rates for 2019-10-31...
Fetching rates for 2019-11-30...
Fetching rates for 2019-12-31...
Fetching rates for 2020-01-31...
Fetching rates for 2020-02-29...
Fetching rates for 2020-03-31...
Fetching rates for 2020-04-30...
Fetching rates for 2020-05-31...
Fetching rates for 2020-06-30...
Fetching rates for 2020-07-31...
Fetching rates for 2020-08-31...
Fetching rates for 2020-09-30...
Fetching rates for 2020-10-31...
Fetching rates for 2020-11-30...
Fetching rates for 2020-12-31...
Fetching rates for 2021-01-31...
Fetching rates for 2021-02-28...
Fetching rates for 2021-03-31...
Fetching rates for 2021-04-30...
Fetching rates for 2021-05-31...
Fetching rates for 2021-06-30...
Fetching rates for 2021-07-31...
Fetching rates for 2021-08-31...
Fetching rates for 2021-09-30...
Fetching rates for 2021-10-31...
Fetching rates for 2021-11-30...
Fetching rates for 2021-12-31...
Fetching rates for 2022-01-31...
Fetching rates for 2022-02-28...
Fetching rates for 2022-03-31...
Fetching rates for 2022-04-30...
Fetching rates for 2022-05-31...
Fetching rates for 2022-06-30...
Fetching rates for 2022-07-31...
Fetching rates for 2022-08-31...
Fetching rates for 2022-09-30...
Fetching rates for 2022-10-31...
Fetching rates for 2022-11-30...
Fetching rates for 2022-12-31...
Fetching rates for 2023-01-31...
Fetching rates for 2023-02-28...
Fetching rates for 2023-03-31...
Fetching rates for 2023-04-30...
Fetching rates for 2023-05-31...
Fetching rates for 2023-06-30...
Fetching rates for 2023-07-31...
Fetching rates for 2023-08-31...
Fetching rates for 2023-09-30...
Fetching rates for 2023-10-31...
Fetching rates for 2023-11-30...
Fetching rates for 2023-12-31...

Exchange Rates at Month End:
2019-01-31: {'BRL': 3.6596, 'EUR': 0.87047, 'INR': 71.109, 'JPY': 108.64, 'MXN': 19.0634}
2019-02-28: {'BRL': 3.7393, 'EUR': 0.87596, 'INR': 70.857, 'JPY': 110.76, 'MXN': 19.1897}
2019-03-31: {'BRL': 3.9043, 'EUR': 0.89008, 'INR': 69.176, 'JPY': 110.77, 'MXN': 19.3066}
2019-04-30: {'BRL': 3.9267, 'EUR': 0.89142, 'INR': 69.586, 'JPY': 111.37, 'MXN': 18.9722}
2019-05-31: {'BRL': 3.9873, 'EUR': 0.89678, 'INR': 69.717, 'JPY': 108.75, 'MXN': 19.6323}
2019-06-30: {'BRL': 3.8235, 'EUR': 0.87873, 'INR': 69.002, 'JPY': 107.73, 'MXN': 19.174}
2019-07-31: {'BRL': 3.7826, 'EUR': 0.89678, 'INR': 68.779, 'JPY': 108.55, 'MXN': 19.0117}
2019-08-31: {'BRL': 4.1572, 'EUR': 0.90613, 'INR': 71.435, 'JPY': 106.27, 'MXN': 20.077}
2019-09-30: {'BRL': 4.1591, 'EUR': 0.91836, 'INR': 70.862, 'JPY': 107.99, 'MXN': 19.7006}
2019-10-31: {'BRL': 3.9909, 'EUR': 0.89654, 'INR': 70.927, 'JPY': 108.24, 'MXN': 19.1196}
2019-11-30: {'BRL': 4.2305, 'EUR': 0.91058, 'INR': 71.652, 'JPY': 109.66, 'MXN': 19.5301}
2019-12-31: {'BRL': 4.0197, 'EUR': 0.89015, 'INR': 71.382, 'JPY': 108.55, 'MXN': 18.8891}
2020-01-31: {'BRL': 4.2668, 'EUR': 0.90481, 'INR': 71.395, 'JPY': 108.89, 'MXN': 18.8237}
2020-02-29: {'BRL': 4.485, 'EUR': 0.911, 'INR': 72.228, 'JPY': 108.74, 'MXN': 19.7112}
2020-03-31: {'BRL': 5.2027, 'EUR': 0.91274, 'INR': 75.666, 'JPY': 108.53, 'MXN': 23.893}
2020-04-30: {'BRL': 5.3848, 'EUR': 0.91946, 'INR': 75.037, 'JPY': 106.54, 'MXN': 23.717}
2020-05-31: {'BRL': 5.3569, 'EUR': 0.89799, 'INR': 75.521, 'JPY': 107.12, 'MXN': 22.064}
2020-06-30: {'BRL': 5.4579, 'EUR': 0.89302, 'INR': 75.567, 'JPY': 107.75, 'MXN': 23.171}
2020-07-31: {'BRL': 5.167, 'EUR': 0.84402, 'INR': 74.814, 'JPY': 104.92, 'MXN': 22.179}
2020-08-31: {'BRL': 5.422, 'EUR': 0.83752, 'INR': 73.258, 'JPY': 105.92, 'MXN': 21.825}
2020-09-30: {'BRL': 5.6635, 'EUR': 0.85412, 'INR': 73.71, 'JPY': 105.71, 'MXN': 22.365}
2020-10-31: {'BRL': 5.7794, 'EUR': 0.85485, 'INR': 74.466, 'JPY': 104.6, 'MXN': 21.236}
2020-11-30: {'BRL': 5.3021, 'EUR': 0.83472, 'INR': 74.065, 'JPY': 104.17, 'MXN': 20.075}
2020-12-31: {'BRL': 5.194, 'EUR': 0.81493, 'INR': 73.067, 'JPY': 103.08, 'MXN': 19.8973}
2021-01-31: {'BRL': 5.4852, 'EUR': 0.82399, 'INR': 72.866, 'JPY': 104.69, 'MXN': 20.222}
2021-02-28: {'BRL': 5.4982, 'EUR': 0.82501, 'INR': 73.905, 'JPY': 106.29, 'MXN': 20.863}
2021-03-31: {'BRL': 5.7492, 'EUR': 0.85288, 'INR': 73.186, 'JPY': 110.8, 'MXN': 20.513}
2021-04-30: {'BRL': 5.3465, 'EUR': 0.82768, 'INR': 74.061, 'JPY': 108.94, 'MXN': 20.058}
2021-05-31: {'BRL': 5.2347, 'EUR': 0.8196, 'INR': 72.568, 'JPY': 109.65, 'MXN': 19.9271}
2021-06-30: {'BRL': 4.9689, 'EUR': 0.84147, 'INR': 74.318, 'JPY': 110.59, 'MXN': 19.8401}
2021-07-31: {'BRL': 5.106, 'EUR': 0.84097, 'INR': 74.334, 'JPY': 109.65, 'MXN': 19.8705}
2021-08-31: {'BRL': 5.1873, 'EUR': 0.84502, 'INR': 72.993, 'JPY': 109.81, 'MXN': 20.1}
2021-09-30: {'BRL': 5.409, 'EUR': 0.86363, 'INR': 74.341, 'JPY': 111.99, 'MXN': 20.506}
2021-10-31: {'BRL': 5.6417, 'EUR': 0.85874, 'INR': 74.865, 'JPY': 113.89, 'MXN': 20.442}
2021-11-30: {'BRL': 5.6114, 'EUR': 0.88005, 'INR': 75.095, 'JPY': 112.82, 'MXN': 21.566}
2021-12-31: {'BRL': 5.5713, 'EUR': 0.88292, 'INR': 74.369, 'JPY': 115.12, 'MXN': 20.434}
2022-01-31: {'BRL': 5.381, 'EUR': 0.89638, 'INR': 74.731, 'JPY': 115.44, 'MXN': 20.783}
2022-02-28: {'BRL': 5.1637, 'EUR': 0.89294, 'INR': 75.498, 'JPY': 115.47, 'MXN': 20.449}
2022-03-31: {'BRL': 4.7752, 'EUR': 0.90082, 'INR': 75.786, 'JPY': 121.76, 'MXN': 19.8991}
2022-04-30: {'BRL': 4.8964, 'EUR': 0.94877, 'INR': 76.509, 'JPY': 129.99, 'MXN': 20.321}
2022-05-31: {'BRL': 4.7573, 'EUR': 0.93345, 'INR': 77.691, 'JPY': 128.22, 'MXN': 19.5902}
2022-06-30: {'BRL': 5.2209, 'EUR': 0.96274, 'INR': 79.051, 'JPY': 136.27, 'MXN': 20.183}
2022-07-31: {'BRL': 5.1715, 'EUR': 0.98058, 'INR': 79.31, 'JPY': 133.77, 'MXN': 20.273}
2022-08-31: {'BRL': 5.1482, 'EUR': 1.0, 'INR': 79.546, 'JPY': 138.72, 'MXN': 20.204}
2022-09-30: {'BRL': 5.3943, 'EUR': 1.0259, 'INR': 81.48, 'JPY': 144.66, 'MXN': 20.147}
2022-10-31: {'BRL': 5.3151, 'EUR': 1.0087, 'INR': 82.81, 'JPY': 148.68, 'MXN': 19.8832}
2022-11-30: {'BRL': 5.3068, 'EUR': 0.96376, 'INR': 81.36, 'JPY': 139.05, 'MXN': 19.2859}
2022-12-31: {'BRL': 5.2865, 'EUR': 0.93756, 'INR': 82.66, 'JPY': 131.88, 'MXN': 19.5537}
2023-01-31: {'BRL': 5.1115, 'EUR': 0.92311, 'INR': 81.82, 'JPY': 130.41, 'MXN': 18.8277}
2023-02-28: {'BRL': 5.2058, 'EUR': 0.94171, 'INR': 82.61, 'JPY': 136.76, 'MXN': 18.3143}
2023-03-31: {'BRL': 5.072, 'EUR': 0.91954, 'INR': 82.21, 'JPY': 133.18, 'MXN': 18.059}
2023-04-30: {'BRL': 4.997, 'EUR': 0.91066, 'INR': 81.83, 'JPY': 136.01, 'MXN': 18.0477}
2023-05-31: {'BRL': 5.0817, 'EUR': 0.93607, 'INR': 82.69, 'JPY': 139.6, 'MXN': 17.7163}
2023-06-30: {'BRL': 4.8581, 'EUR': 0.9203, 'INR': 82.1, 'JPY': 144.63, 'MXN': 17.0821}
2023-07-31: {'BRL': 4.7202, 'EUR': 0.90719, 'INR': 82.26, 'JPY': 142.18, 'MXN': 16.7004}
2023-08-31: {'BRL': 4.8842, 'EUR': 0.92013, 'INR': 82.75, 'JPY': 145.83, 'MXN': 16.7341}
2023-09-30: {'BRL': 5.009, 'EUR': 0.94393, 'INR': 83.08, 'JPY': 149.24, 'MXN': 17.4655}
2023-10-31: {'BRL': 5.061, 'EUR': 0.94171, 'INR': 83.27, 'JPY': 150.96, 'MXN': 18.0385}
2023-11-30: {'BRL': 4.9386, 'EUR': 0.91483, 'INR': 83.35, 'JPY': 147.46, 'MXN': 17.4033}
2023-12-31: {'BRL': 4.8523, 'EUR': 0.90498, 'INR': 83.17, 'JPY': 141.48, 'MXN': 16.944}

Average Exchange Rate Vector:
BRL      4.941342
EUR      0.898315
INR     75.962517
JPY    119.819000
MXN     19.781170
dtype: float64

Variance-Covariance Matrix:
          BRL       EUR        INR         JPY        MXN
BRL  0.333933 -0.002053   1.162764    1.260564   0.369500
EUR -0.002053  0.002218   0.126464    0.536324  -0.017826
INR  1.162764  0.126464  20.847202   63.458988  -2.909303
JPY  1.260564  0.536324  63.458988  236.177094 -14.626190
MXN  0.369500 -0.017826  -2.909303  -14.626190   2.439295

In [7]:
def get_distribution(start_date_str, end_date_str, target_currencies):
    # Get a list of month-end dates for the given period.
    month_end_dates = get_month_end_dates(start_date_str, end_date_str)
    # Dictionary to hold the results.
    exchange_data = {}
    # Fetch the exchange rates for each month-end date.
    for d in month_end_dates:
        date_str = d.isoformat()
        print(f"Fetching rates for {date_str}...")
        rates = get_exchange_rate_for_date(date_str, base_currency="USD", symbols=target_currencies)
        exchange_data[date_str] = rates
    avg_vector, cov_matrix = estimate_statistics(exchange_data)
    return avg_factor,cov_matrix

In [123]:
def get_distribution(start_date_str, end_date_str, target_currencies):
    # Get a list of month-end dates for the given period.
    month_end_dates = get_month_end_dates(start_date_str, end_date_str)
    # Dictionary to hold the results.
    exchange_data = {}
    # Fetch the exchange rates for each month-end date.
    for d in month_end_dates:
        date_str = d.isoformat()
        print(f"Fetching rates for {date_str}...")
        rates = get_exchange_rate_for_date(date_str, base_currency="USD", symbols=target_currencies)
        exchange_data[date_str] = rates
    avg_factor, cov_matrix = estimate_statistics(exchange_data)
    return avg_factor,cov_matrix
    
from tqdm import tqdm

year_list = ['2018','2019','2020','2021','2022','2023']
target_currencies = ['BRL', 'EUR', 'INR', 'JPY', 'MXN']
singal_year_dict = {year: None for year in year_list}
for i in tqdm(range(len(year_list))):
    start, end = year_list[i]+'-01-01', year_list[i]+'-12-31'
    avg_factor, cov_matrix = get_distribution(start, end, target_currencies)
    mvn_distribution = multivariate_normal(mean=avg_vector, cov=cov_matrix)
    sample = mvn_distribution.rvs(size=100, random_state = 40)
    # 数组末尾+1 代表USD
    sample_usd = np.hstack((sample, np.ones((sample.shape[0], 1))))
    singal_year_dict[year_list[i]] = sample_usd

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

Fetching rates for 2018-01-31...
Fetching rates for 2018-02-28...
Fetching rates for 2018-03-31...
Fetching rates for 2018-04-30...
Fetching rates for 2018-05-31...
Fetching rates for 2018-06-30...
Fetching rates for 2018-07-31...
Fetching rates for 2018-08-31...
Fetching rates for 2018-09-30...
Fetching rates for 2018-10-31...
Fetching rates for 2018-11-30...
Fetching rates for 2018-12-31...

 17%|██████████████                                                                      | 1/6 [00:00<00:04,  1.03it/s]

Fetching rates for 2019-01-31...
Fetching rates for 2019-02-28...
Fetching rates for 2019-03-31...
Fetching rates for 2019-04-30...
Fetching rates for 2019-05-31...
Fetching rates for 2019-06-30...
Fetching rates for 2019-07-31...
Fetching rates for 2019-08-31...
Fetching rates for 2019-09-30...
Fetching rates for 2019-10-31...
Fetching rates for 2019-11-30...

 33%|████████████████████████████                                                        | 2/6 [00:01<00:03,  1.14it/s]

Fetching rates for 2019-12-31...
Fetching rates for 2020-01-31...
Fetching rates for 2020-02-29...
Fetching rates for 2020-03-31...
Fetching rates for 2020-04-30...
Fetching rates for 2020-05-31...
Fetching rates for 2020-06-30...
Fetching rates for 2020-07-31...
Fetching rates for 2020-08-31...
Fetching rates for 2020-09-30...
Fetching rates for 2020-10-31...
Fetching rates for 2020-11-30...

 50%|██████████████████████████████████████████                                          | 3/6 [00:02<00:02,  1.07it/s]

Fetching rates for 2020-12-31...
Fetching rates for 2021-01-31...
Fetching rates for 2021-02-28...
Fetching rates for 2021-03-31...
Fetching rates for 2021-04-30...
Fetching rates for 2021-05-31...
Fetching rates for 2021-06-30...
Fetching rates for 2021-07-31...
Fetching rates for 2021-08-31...
Fetching rates for 2021-09-30...
Fetching rates for 2021-10-31...
Fetching rates for 2021-11-30...
Fetching rates for 2021-12-31...

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:03<00:01,  1.10it/s]

Fetching rates for 2022-01-31...
Fetching rates for 2022-02-28...
Fetching rates for 2022-03-31...
Fetching rates for 2022-04-30...
Fetching rates for 2022-05-31...
Fetching rates for 2022-06-30...
Fetching rates for 2022-07-31...
Fetching rates for 2022-08-31...
Fetching rates for 2022-09-30...
Fetching rates for 2022-10-31...
Fetching rates for 2022-11-30...
Fetching rates for 2022-12-31...

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:04<00:00,  1.07it/s]

Fetching rates for 2023-01-31...
Fetching rates for 2023-02-28...
Fetching rates for 2023-03-31...
Fetching rates for 2023-04-30...
Fetching rates for 2023-05-31...
Fetching rates for 2023-06-30...
Fetching rates for 2023-07-31...
Fetching rates for 2023-08-31...
Fetching rates for 2023-09-30...
Fetching rates for 2023-10-31...

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:05<00:00,  1.08it/s]

Fetching rates for 2023-11-30...
Fetching rates for 2023-12-31...

In [125]:
singal_year_dict['2023'][1]

array([  4.66418863,   0.86380228,  75.32200947, 116.74581847,
        18.76913779,   1.        ])

In [127]:
# 合成exrate0 不要像他那样dict和df用同一变量 容易出问题
index_list = [i for i in range(0,100,1)]
all_exrate0 = {index:pd.DataFrame() for index in index_list}
yl = ['2018', '2019', '2020', '2021', '2022', '2023']  # 确保 2023 包含在内
for index in index_list:
    exrate0_dict = {year: None for year in yl}
    for year in yl:  # 这里不再使用 yl[:-1]，确保 2023 也被包含
        try:
            exrate0_dict[year] = singal_year_dict[year][index]
        except:
            print(f'Error {year}-{index}')
    exrate0 = pd.DataFrame(exrate0_dict, index=['BRL', 'EUR', 'INR', 'JPY', 'MXN', 'USD'])
    all_exrate0[index] = exrate0

In [129]:
all_exrate0.items()

dict_items([(0,            2018        2019        2020        2021        2022        2023
BRL    4.924720    4.815209    4.840171    4.981084    4.982369    4.948563
EUR    0.892035    0.898454    0.942994    0.920696    0.931230    0.899112
INR   77.936970   76.392883   76.966143   76.498522   77.616620   75.966407
JPY  121.071014  118.969912  120.327470  121.585300  126.193120  115.865255
MXN   19.648274   19.731181   20.541614   19.599878   19.378984   20.039947
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (1,            2018        2019        2020        2021        2022        2023
BRL    4.836944    4.801779    5.634420    5.028104    4.947519    4.664189
EUR    0.914788    0.888853    0.820368    0.889318    0.926656    0.863802
INR   75.916290   74.038883   77.269746   74.731561   74.125984   75.322009
JPY  122.852661  118.445467  115.672928  121.476839  125.473381  116.745818
MXN   20.334837   19.963783   21.029716   19.269413   20.282895   18.769138
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (2,            2018        2019        2020        2021        2022        2023
BRL    4.757374    4.879952    4.858298    5.146362    5.102296    4.855250
EUR    0.891940    0.900973    0.904375    0.906657    0.909549    0.894905
INR   75.622398   75.684377   75.758625   75.679727   75.497189   75.755488
JPY  119.901025  119.836157  119.252842  119.695917  119.329099  120.178409
MXN   20.099210   19.972672   19.953141   19.853629   19.984134   19.676546
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (3,            2018        2019        2020        2021        2022        2023
BRL    5.032962    5.049416    4.900332    5.036297    5.047884    5.000928
EUR    0.899657    0.912769    0.929634    0.915995    0.917478    0.910608
INR   76.628223   76.418062   75.743191   76.197451   76.897001   75.792378
JPY  119.696116  119.783653  120.672703  120.169400  121.087412  118.976434
MXN   20.093821   19.961269   20.096845   20.119288   19.831483   20.107575
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (4,            2018        2019        2020        2021        2022        2023
BRL    4.627862    4.773130    4.655003    5.089503    5.042728    4.848405
EUR    0.892198    0.880255    0.877906    0.882754    0.872852    0.883207
INR   75.013648   75.728329   75.637569   75.761453   75.065325   76.064273
JPY  119.274524  120.206188  119.453221  118.961709  116.759253  121.719699
MXN   19.686099   19.781474   19.372123   19.649408   19.803834   19.623333
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (5,            2018        2019        2020        2021        2022        2023
BRL    5.025222    4.943782    5.569562    4.597694    4.593551    4.818780
EUR    0.897907    0.894798    0.823645    0.871614    0.881391    0.887588
INR   73.696882   74.323621   76.187949   74.847584   72.882504   76.041722
JPY  120.302558  119.908845  116.794264  118.775685  115.924463  122.467237
MXN   19.491098   19.502403   19.174706   19.220659   20.149052   18.742570
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (6,            2018        2019        2020        2021        2022        2023
BRL    5.022612    4.922415    4.886596    4.746825    4.782599    5.008712
EUR    0.884272    0.902862    0.929662    0.906110    0.901581    0.910779
INR   76.109194   76.270253   76.151324   76.298694   76.288535   76.301160
JPY  119.516639  119.930033  120.469667  119.687778  119.428101  119.984534
MXN   19.285138   19.516915   19.396040   19.599774   19.475691   19.871758
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (7,            2018        2019        2020        2021        2022        2023
BRL    4.929878    4.949674    4.418764    4.914166    4.955286    5.094912
EUR    0.886487    0.897318    0.947948    0.902423    0.878864    0.914578
INR   76.255288   77.206236   75.361012   76.825882   77.290491   76.414758
JPY  118.124676  120.548987  122.429794  119.022874  117.162251  121.196752
MXN   19.333018   19.628377   19.067772   19.991070   19.349584   20.426536
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (8,            2018        2019        2020        2021        2022        2023
BRL    4.716337    4.866781    5.069895    4.783992    4.747700    4.796170
EUR    0.877372    0.892768    0.844468    0.870511    0.858320    0.892785
INR   72.121465   74.555438   75.004185   74.812690   72.047470   76.246759
JPY  118.377947  121.015047  117.560047  116.829127  109.024030  126.619205
MXN   19.426336   19.555772   18.229180   19.402252   20.222628   18.848905
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (9,            2018        2019        2020        2021        2022        2023
BRL    4.910144    5.007717    4.940908    5.018104    5.006029    4.927034
EUR    0.902472    0.899917    0.880891    0.891225    0.886715    0.897579
INR   75.115292   75.807998   75.361744   75.693263   75.307249   75.851119
JPY  119.210938  120.218529  119.656015  119.042336  117.004719  121.564851
MXN   20.028134   19.915591   19.562294   19.982953   20.043746   19.722158
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (10,            2018        2019        2020        2021        2022        2023
BRL    5.459979    5.172597    5.347578    4.891165    4.956409    5.098814
EUR    0.929583    0.917203    0.930823    0.927427    0.954704    0.908832
INR   79.785895   76.826832   77.290741   76.748230   79.402849   75.499713
JPY  122.118883  118.227538  120.973795  123.294196  132.252459  112.121716
MXN   20.271090   19.981787   21.628598   20.106952   19.557602   20.413776
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (11,            2018        2019        2020        2021        2022        2023
BRL    4.992531    4.806698    5.457465    5.390608    5.319753    4.768765
EUR    0.939302    0.895527    0.895743    0.934775    0.996781    0.864051
INR   81.275601   75.607592   78.819951   76.067317   79.210902   74.744818
JPY  125.483080  116.498614  117.943894  125.993570  141.713893  106.620048
MXN   21.030906   20.390567   23.527555   19.704010   19.778876   19.882248
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (12,            2018        2019        2020        2021        2022        2023
BRL    4.847791    5.060488    4.872307    5.124821    5.097762    4.914781
EUR    0.907603    0.898553    0.862448    0.881957    0.870691    0.895060
INR   74.306694   75.745092   74.705297   75.482312   74.761101   75.753710
JPY  118.490905  120.664551  119.675506  118.225139  114.058434  123.374815
MXN   20.273312   20.061697   19.323029   20.208330   20.281170   19.717414
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (13,            2018        2019        2020        2021        2022        2023
BRL    5.383611    5.083242    5.601888    4.793361    4.833523    4.983973
EUR    0.926405    0.910198    0.892581    0.914767    0.949259    0.896825
INR   78.738677   75.858974   77.591327   76.125086   77.755641   75.506773
JPY  122.684186  118.115178  119.101109  122.987712  131.063755  113.012890
MXN   20.136484   19.860535   21.463147   19.718042   19.720271   19.815735
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (14,            2018        2019        2020        2021        2022        2023
BRL    5.582267    5.222593    5.666012    5.002780    5.055406    5.059375
EUR    0.940518    0.930155    0.941001    0.949478    1.000925    0.907761
INR   81.333308   76.609990   78.075763   76.648966   80.285937   75.005253
JPY  123.934211  117.184366  120.203331  125.210430  139.011784  108.070674
MXN   20.828417   20.234410   22.879116   20.194504   19.704213   20.408200
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (15,            2018        2019        2020        2021        2022        2023
BRL    4.710732    4.778645    4.972108    4.985055    4.937579    4.800838
EUR    0.887714    0.889716    0.877381    0.891863    0.895371    0.885681
INR   74.948696   75.155726   76.101132   75.426068   74.479397   75.964021
JPY  120.145422  119.815196  118.253531  119.399515  118.250234  120.915661
MXN   19.702894   19.732872   19.610858   19.444735   19.909534   19.291627
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (16,            2018        2019        2020        2021        2022        2023
BRL    4.771843    4.716019    5.032306    4.855373    4.825041    4.817056
EUR    0.892745    0.879371    0.868590    0.885020    0.892174    0.878795
INR   75.732712   75.224938   76.789105   75.659039   75.004572   76.106988
JPY  120.838691  119.384129  118.253698  120.180544  121.074617  119.176406
MXN   19.387437   19.549552   19.791103   19.180062   19.636828   19.287248
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (17,            2018        2019        2020        2021        2022        2023
BRL    5.087182    5.115263    4.939117    4.763102    4.805148    5.041835
EUR    0.895663    0.906415    0.891868    0.886749    0.869876    0.913717
INR   74.434144   76.139902   74.940857   75.911721   75.153414   76.218654
JPY  118.050968  120.835823  120.550662  117.997812  113.341897  123.714915
MXN   19.586660   19.668665   18.748555   19.995371   19.907027   19.819456
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (18,            2018        2019        2020        2021        2022        2023
BRL    4.890464    5.038478    4.310477    4.695511    4.757860    5.128957
EUR    0.850079    0.917007    0.971222    0.902914    0.855125    0.943117
INR   72.871602   76.907984   73.774224   76.370657   74.760363   76.909204
JPY  115.338047  122.291680  122.493110  115.567035  104.829839  128.727572
MXN   18.860321   19.379033   17.131934   20.016969   19.584865   20.116206
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (19,            2018        2019        2020        2021        2022        2023
BRL    4.849392    4.884818    4.231786    5.034027    5.064469    5.099035
EUR    0.901648    0.878920    0.928708    0.888781    0.862243    0.899175
INR   77.126612   77.568869   75.568498   77.129973   78.195651   76.381461
JPY  118.382095  120.311938  123.010198  119.651714  119.451239  119.743763
MXN   19.380835   19.691410   19.395954   20.032963   19.192006   20.661526
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (20,            2018        2019        2020        2021        2022        2023
BRL    5.290504    5.216605    5.026981    4.806543    4.874266    5.121433
EUR    0.909202    0.915651    0.916243    0.903646    0.897479    0.919668
INR   76.364434   76.718486   75.449800   76.377112   77.027684   75.982454
JPY  118.973915  120.143051  121.426815  119.625881  119.183466  120.070177
MXN   19.879018   19.816414   19.648519   20.232470   19.786570   20.230826
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (21,            2018        2019        2020        2021        2022        2023
BRL    4.953938    4.819750    5.199981    4.737432    4.737008    4.873190
EUR    0.892702    0.891533    0.881858    0.893768    0.904668    0.890113
INR   75.953914   75.310512   76.855781   75.724791   75.255825   76.103242
JPY  120.920130  119.312013  118.427398  120.359556  121.712725  118.771403
MXN   19.379003   19.513210   19.838836   19.239606   19.640499   19.333104
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (22,            2018        2019        2020        2021        2022        2023
BRL    5.028400    4.779869    5.433543    4.521304    4.534583    4.851583
EUR    0.892247    0.886102    0.859865    0.883887    0.899848    0.885314
INR   75.702989   74.857517   77.367976   75.545400   74.607297   76.260872
JPY  121.453399  119.097791  117.525805  120.469049  122.080279  118.616665
MXN   19.027603   19.276322   19.696475   18.872549   19.555559   19.002966
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (23,            2018        2019        2020        2021        2022        2023
BRL    5.448095    4.984221    5.051594    4.386644    4.516448    5.199829
EUR    0.897391    0.901562    0.956934    0.912733    0.916298    0.919327
INR   78.922740   77.242209   77.542784   77.352764   79.000521   76.593886
JPY  120.766242  118.950755  122.058864  121.901538  127.477388  114.897230
MXN   18.693850   19.163443   20.003596   19.383988   18.764440   20.362777
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (24,            2018        2019        2020        2021        2022        2023
BRL    5.016811    4.876601    4.907317    4.900914    4.920085    4.986764
EUR    0.910161    0.886184    0.901447    0.897011    0.902796    0.889876
INR   77.820188   76.445876   76.879588   76.523019   77.599575   76.013659
JPY  120.877124  119.072314  120.485435  121.415522  125.591393  116.218806
MXN   19.593350   19.687560   20.409023   19.634393   19.385232   20.055967
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (25,            2018        2019        2020        2021        2022        2023
BRL    4.976197    4.849860    5.142034    4.571086    4.593804    4.915458
EUR    0.880596    0.894118    0.885119    0.887063    0.885326    0.900095
INR   74.705611   75.316801   76.320587   75.682530   74.408064   76.429820
JPY  119.725622  120.028145  118.710043  118.974010  116.798687  121.743163
MXN   18.996843   19.309500   18.936539   19.177495   19.610589   19.248149
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (26,            2018        2019        2020        2021       2022        2023
BRL    4.001187    4.669031    4.162357    4.799149   4.705264    4.696528
EUR    0.813080    0.881706    0.840804    0.835765   0.759899    0.905114
INR   65.237863   73.997847   71.723370   73.945495  66.857426   77.256592
JPY  112.614011  124.617853  117.668223  109.711478  83.667642  142.101124
MXN   18.506209   19.202222   14.374623   19.299247  20.548328   18.273476
USD    1.000000    1.000000    1.000000    1.000000   1.000000    1.000000), (27,            2018        2019        2020        2021        2022        2023
BRL    4.933595    4.867467    5.498883    4.919495    4.876394    4.765150
EUR    0.905729    0.897077    0.852173    0.896372    0.923713    0.879964
INR   75.874770   74.589258   76.938760   75.105072   74.609342   75.572630
JPY  121.943817  118.862244  116.884816  120.941791  123.644577  117.749122
MXN   20.069090   19.840181   20.568830   19.375355   20.106062   19.036806
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (28,            2018        2019        2020        2021        2022        2023
BRL    4.710662    4.752891    4.540174    4.897627    4.891187    4.935083
EUR    0.884657    0.877708    0.898470    0.882122    0.864266    0.891184
INR   75.323811   76.203169   75.812701   76.223746   75.652458   76.442771
JPY  118.864481  120.343219  120.429482  118.860170  116.497430  121.775668
MXN   19.148543   19.505495   18.968083   19.492123   19.434619   19.805847
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (29,            2018        2019        2020        2021        2022        2023
BRL    5.084082    5.099358    5.331568    4.656243    4.676674    4.927445
EUR    0.885780    0.915727    0.872844    0.889457    0.885229    0.913145
INR   73.194824   75.018457   75.120948   75.120160   73.273121   76.106963
JPY  118.660329  120.730314  118.400867  117.631379  111.899903  124.792311
MXN   19.625836   19.617042   18.652199   19.702084   20.228139   19.157692
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (30,            2018        2019        2020        2021        2022        2023
BRL    4.733438    4.696921    4.764932    5.031935    5.000392    4.863087
EUR    0.885435    0.888920    0.926438    0.911903    0.920002    0.889298
INR   77.127231   75.973137   76.892801   76.202825   76.646291   76.020399
JPY  120.967673  119.133303  119.558383  121.051474  124.258912  117.114193
MXN   19.558791   19.695669   20.282633   19.410046   19.439316   19.774265
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (31,            2018        2019        2020        2021        2022        2023
BRL    4.992154    4.940204    4.669399    4.671203    4.725029    5.066444
EUR    0.880793    0.895946    0.922926    0.890611    0.868105    0.913913
INR   75.150281   76.574676   75.486216   76.441918   75.919340   76.615667
JPY  118.111460  120.704001  121.321067  118.356290  114.738661  122.769367
MXN   18.968722   19.379305   18.551931   19.653614   19.393588   19.977130
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (32,            2018        2019        2020        2021        2022        2023
BRL    4.999029    4.940244    5.281804    4.950702    4.933451    4.867484
EUR    0.912983    0.895343    0.864417    0.894144    0.911181    0.885111
INR   76.437993   75.361997   76.606750   75.602228   75.732773   75.657072
JPY  121.237014  119.105585  118.439403  120.883145  123.520472  117.685870
MXN   20.061807   19.875550   20.485259   19.651620   19.953167   19.489411
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (33,            2018        2019        2020        2021        2022        2023
BRL    5.095941    5.093612    5.805496    5.136537    5.080179    4.757025
EUR    0.919179    0.924037    0.861404    0.919936    0.963896    0.889826
INR   76.355707   74.425980   76.645358   74.760342   74.942348   74.900353
JPY  122.576253  118.512549  116.456143  121.675591  126.141377  116.292142
MXN   21.060028   20.330620   21.490682   19.930710   20.642930   19.119389
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (34,            2018        2019        2020        2021        2022        2023
BRL    4.895023    4.915226    5.438792    4.574959    4.560060    4.791867
EUR    0.877666    0.900226    0.835304    0.872642    0.871519    0.896242
INR   72.083419   74.091145   75.490607   74.577525   71.576381   76.245017
JPY  119.115523  120.677760  116.608018  117.200652  110.297790  125.922291
MXN   19.301425   19.418723   18.330984   19.180554   20.260929   18.552266
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (35,            2018        2019        2020        2021        2022        2023
BRL    5.234605    5.169921    5.432633    4.924474    4.940305    4.959582
EUR    0.916780    0.918091    0.884454    0.908122    0.925878    0.904605
INR   76.420325   75.638126   76.081880   75.632924   76.082152   75.491403
JPY  120.735529  119.335831  119.079463  120.657652  122.699040  118.144341
MXN   20.395185   20.029271   20.519010   20.067276   20.169535   19.699798
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000), (36,            2018        2019        2020        2021        2022        2023
BRL    5.233223    5.034036    5.151092    5.260813    5.268416    5.008577
EUR    0.939789    0.906323    0.933723    0.935495    0.972870    0.890644
INR   81.300003   76.963421   77.780148   76.878612   80.548979   75.104984
JPY  123.323854  117.475302  120.900190  124.836312  137.743756  108.779913
MXN   20.781642   20.304926   22.708660   20.211502   19.549053   20.614825

In [131]:
selected_yr = 2023
base_yr = 2019

demand = pd.DataFrame({
    'from': ['LatinAmerica', 'Europe', 'AsiaWoJapan', 'Japan', 'Mexico', 'U.S.'],
    'd_h': [  7, 15,  5,  7,  3, 18],
    'd_r': [  7, 12,  3,  8,  3, 17],
})
demand.set_index('from', inplace=True)

caps = pd.DataFrame({
    'plant': ['Brazil', 'Germany', 'India', 'Japan', 'Mexico', 'U.S.'],
    'cap': [18, 45, 18, 10, 30, 22],
})
caps.set_index('plant', inplace=True)

pcosts = pd.DataFrame({
    'plant': ['Brazil', 'Germany', 'India', 'Japan', 'Mexico', 'U.S.'],
    'fc_p': [20, 45, 14, 13, 30, 23],
    'fc_h': [ 5, 13,  3,  4,  6,  5],
    'fc_r': [ 5, 13,  3,  4,  6,  5],
    'rm_h': [3.6, 3.9, 3.6, 3.9, 3.6, 3.6],
    'pc_h': [5.1, 6.0, 4.5, 6.0, 5.0, 5.0],
    'rm_r': [4.6, 5.0, 4.5, 5.1, 4.6, 4.5],
    'pc_r': [6.6, 7.0, 6.0, 7.0, 6.5, 6.5],
})
pcosts.set_index('plant', inplace=True)

tcosts = pd.DataFrame({
    'from': ['Brazil', 'Germany', 'India', 'Japan', 'Mexico', 'U.S.'],
    'LatinAmerica': [ 0.20, 0.45, 0.50, 0.50, 0.40, 0.45],
    'Europe':       [ 0.45, 0.20, 0.35, 0.40, 0.30, 0.30],
    'AsiaWoJapan':  [ 0.50, 0.35, 0.20, 0.30, 0.50, 0.45],
    'Japan':        [ 0.50, 0.40, 0.30, 0.10, 0.45, 0.45],
    'Mexico':       [ 0.40, 0.30, 0.50, 0.45, 0.20, 0.25],
    'U.S.':           [ 0.45, 0.30, 0.45, 0.45, 0.25, 0.20],
})
tcosts.set_index('from', inplace=True)

duties = pd.DataFrame({
    'from': ['LatinAmerica', 'Europe', 'AsiaWoJapan', 'Japan', 'Mexico', 'U.S.'],
    'duty': [ 0.30, 0.03, 0.27, 0.06, 0.35, 0.04],
})
duties.set_index('from', inplace=True)

In [133]:
# identify number of supply and demand location for iterations
n_ctry = range(demand.shape[0])
n_lines = range(demand.shape[1]+1)

# Objective function to calculate cost
def calc_total_cost(dec_plant, dec_h, dec_r, base_yr=2019, selected_yr=2023, tariff=0):
    x_plant = np.array(list(dec_plant.values())).reshape(len(n_ctry), len(n_lines))
    x_h = np.array(list(dec_h.values())).reshape(len(n_ctry), len(n_ctry))
    x_r = np.array(list(dec_r.values())).reshape(len(n_ctry), len(n_ctry))

    # Adjust the cost using exchange rate of give year
    reindx = exrate.loc[:, f'{base_yr}'] / exrate.loc[:, f'{selected_yr}']

    pcosts_rev = pcosts.values * reindx.values.reshape(-1,1)
    pcosts_rev = pd.DataFrame(pcosts_rev, columns=pcosts.columns[0:], index=pcosts.index)
    # return pcosts_rev
    # pcosts_rev = adj_pcosts_exrate(2019, 2023)

    duties_mat = np.zeros(len(duties)) + (1 + duties['duty'].values)[:, np.newaxis]
    np.fill_diagonal(duties_mat, 1)
    duties_mat = pd.DataFrame(duties_mat.T, index=pcosts_rev.index, columns=duties.index)
    duties_mat.loc['Germany', 'U.S.'] += tariff
    duties_mat.loc['U.S.', 'Europe']  += tariff

    vcosts_h = tcosts.add(pcosts_rev['rm_h'], axis=0).add(pcosts_rev['pc_h'], axis=0) * duties_mat
    vcosts_r = tcosts.add(pcosts_rev['rm_r'], axis=0).add(pcosts_rev['pc_r'], axis=0) * duties_mat

    fc = pcosts_rev[['fc_p','fc_h','fc_r']].values
    vh = (vcosts_h * x_h).values
    vr = (vcosts_r * x_r).values
    total_cost = sum(0.2 * fc[i,j] for i in n_ctry for j in n_lines) + sum(0.8 * fc[i,j] * x_plant[i,j] for i in n_ctry for j in n_lines) + sum(vh[i,j] for i in n_ctry for j in n_ctry) + sum(vr[i,j] for i in n_ctry for j in n_ctry)

    return total_cost


# Calculate excess capacity given decision variables
def calc_excess_cap(dec_plant, dec_h, dec_r):
    x_plant = np.array(list(dec_plant.values())).reshape(len(n_ctry), len(n_lines))
    x_h = np.array(list(dec_h.values())).reshape(len(n_ctry), len(n_ctry))
    x_r = np.array(list(dec_r.values())).reshape(len(n_ctry), len(n_ctry))

    excess_cap = (x_plant * caps.values).copy()
    excess_cap[:, 0] -= (np.sum(x_h, axis=1) + np.sum(x_r, axis=1))
    excess_cap[:, 1] -= np.sum(x_h, axis=1)
    excess_cap[:, 2] -= np.sum(x_r, axis=1)
    return excess_cap

# Calculate unmet demand given decision variables
def calc_unmet_demand(dec_h, dec_r):
    x_h = np.array(list(dec_h.values())).reshape(len(n_ctry), len(n_ctry))
    x_r = np.array(list(dec_r.values())).reshape(len(n_ctry), len(n_ctry))

    x_h_sum = np.sum(x_h, axis=0)
    x_r_sum = np.sum(x_r, axis=0)
    unmet_demand = (demand.values).copy()
    unmet_demand = np.column_stack((x_h_sum - unmet_demand[:, 0], x_r_sum - unmet_demand[:, 1]))

    return unmet_demand

In [135]:
# Prompt the user to enter the year
def opt_main_func1(exrate, selected_yr, tariff):
    
    # Create a Gurobi model
    model = Model("MinimizeCost")
    
    # Assign initial value of decision variables
    dec_plant = {(i, j): 1 for i in n_ctry for j in n_lines}
    dec_h     = {(i, j): 1 for i in n_ctry for j in n_ctry}
    dec_r     = {(i, j): 1 for i in n_ctry for j in n_ctry}
    
    # Define decision variables
    dec_plant = {(i, j): model.addVar(vtype=GRB.BINARY, name=f"Dec_plant_{i}_{j}")    for i in n_ctry for j in n_lines}
    dec_h     = {(i, j): model.addVar(vtype=GRB.CONTINUOUS, lb=0, name=f"Dec_h_{i}_{j}") for i in n_ctry for j in n_ctry}
    dec_r     = {(i, j): model.addVar(vtype=GRB.CONTINUOUS, lb=0, name=f"Dec_r_{i}_{j}") for i in n_ctry for j in n_ctry}
    
    # Excess Capacity constraints
    excess_cap = calc_excess_cap(dec_plant, dec_h, dec_r)
    for i in n_ctry:
        for j in n_lines:
            model.addConstr(excess_cap[i, j] >= 0, name=f"Excess_Cap_Constraints_{i}_{j}")
    
    
    # Unmet demand constraints
    unnmet_demand = calc_unmet_demand(dec_h, dec_r)
    for i in n_ctry:
        for j in range(2):
            model.addConstr(unnmet_demand[i,j] == 0, name=f"Unmet_Demand_Constraints_{i}_{j}")
    
    
    # Update the model
    model.update()
    
    # Set objective function - Total cost = Fixed cost + Variable costs of Highcal and Relax lines
    model.setObjective(calc_total_cost(dec_plant, dec_h, dec_r, base_yr, selected_yr, tariff), GRB.MINIMIZE)
    
    # Suppress optimization output
    model.Params.OutputFlag = 0
    
    # Optimize the model
    model.optimize()
    
    # Extract results to print as table
    op_plant = pd.DataFrame([[dec_plant[i, j].x for j in n_lines] for i in n_ctry], columns = ['Plant','H','R'], index=caps.index)
    op_h     = pd.DataFrame([[dec_h[i, j].x for j in n_ctry] for i in n_ctry], columns = tcosts.columns, index=tcosts.index)
    op_r     = pd.DataFrame([[dec_r[i, j].x for j in n_ctry] for i in n_ctry], columns = tcosts.columns, index=tcosts.index)

    '''
    print("\nHighCal Flow\n")
    print(tabulate(op_h, headers='keys', tablefmt='pretty'))
    print("\nRelax Flow\n")
    print(tabulate(op_r, headers='keys', tablefmt='pretty'))
    print("\nStrategy\n")
    print(tabulate(op_plant, headers='keys', tablefmt='pretty'))
    print(f"\nMinimum Cost: $ {round(model.objVal,2)} in year {selected_yr} at Tariff {(tariff*100)}")
    '''
    
    #results = {
    #    "HighCal Flow": tabulate(op_h, headers='keys', tablefmt='pretty'),
    #    "Relax Flow": tabulate(op_r, headers='keys', tablefmt='pretty'),
    #    "Strategy": tabulate(op_plant, headers='keys', tablefmt='pretty'),
    #    "Minimum Cost": f"$ {round(model.objVal, 2)} in year {selected_yr} at Tariff {tariff * 100}%"
    #}

    return op_plant

# Q1 & 2

In [137]:
for id, exrate0 in tqdm(all_exrate0.items()):
    #print(f'solution for id:{id}')
    opplant = opt_main_func1(exrate0,2018,0.5) #changable
    res_dict[id] = opplant

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:03<00:00, 31.92it/s]

In [139]:
res_dict[3]

         Plant    H    R
plant
Brazil     1.0  1.0  1.0
Germany    1.0  0.0  1.0
India      1.0  1.0  1.0
Japan      0.0 -0.0  0.0
Mexico     1.0  1.0  1.0
U.S.       1.0  1.0  1.0

In [141]:
sum(res_dict[id] for id in all_exrate0.keys())/100

         Plant    H    R
plant
Brazil     1.0  1.0  1.0
Germany    1.0  0.0  1.0
India      1.0  1.0  1.0
Japan      0.0  0.0  0.0
Mexico     1.0  1.0  1.0
U.S.       1.0  1.0  1.0

In [143]:
solution_year = [2018,2019,2020,2021,2022]
res_dict1 = {year:{id:pd.DataFrame() for id in all_exrate0.keys()} for year in solution_year}

for id, exrate0 in tqdm(all_exrate0.items()):
    #print(f'solution for id:{id}')
    for year in solution_year:
        opplant = opt_main_func1(exrate0,year,0.05)
        res_dict1[year][id] = opplant

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:16<00:00,  6.08it/s]

In [145]:
sum(sum(res_dict1[key].values()) for key in solution_year)/500

         Plant    H    R
plant
Brazil     1.0  1.0  1.0
Germany    1.0  0.0  1.0
India      1.0  1.0  1.0
Japan      0.0  0.0  0.0
Mexico     1.0  1.0  1.0
U.S.       1.0  1.0  1.0

In [207]:
# Prompt the user to enter the year
def opt_main_func2(exrate, selected_yr, tariff):
    
    # Create a Gurobi model
    model = Model("MinimizeCost")
    
    # Assign initial value of decision variables
    dec_plant = {(i, j): 1 for i in n_ctry for j in n_lines}
    dec_h     = {(i, j): 1 for i in n_ctry for j in n_ctry}
    dec_r     = {(i, j): 1 for i in n_ctry for j in n_ctry}
    
    # Define decision variables
    dec_plant = {(i, j): model.addVar(vtype=GRB.BINARY, name=f"Dec_plant_{i}_{j}")    for i in n_ctry for j in n_lines}
    dec_h     = {(i, j): model.addVar(vtype=GRB.CONTINUOUS, lb=0, name=f"Dec_h_{i}_{j}") for i in n_ctry for j in n_ctry}
    dec_r     = {(i, j): model.addVar(vtype=GRB.CONTINUOUS, lb=0, name=f"Dec_r_{i}_{j}") for i in n_ctry for j in n_ctry}
    
    # Excess Capacity constraints
    excess_cap = calc_excess_cap(dec_plant, dec_h, dec_r)
    for i in n_ctry:
        for j in n_lines:
            model.addConstr(excess_cap[i, j] >= 0, name=f"Excess_Cap_Constraints_{i}_{j}")
    
    
    # Unmet demand constraints
    unnmet_demand = calc_unmet_demand(dec_h, dec_r)
    for i in n_ctry:
        for j in range(2):
            model.addConstr(unnmet_demand[i,j] == 0, name=f"Unmet_Demand_Constraints_{i}_{j}")
    
    
    # Update the model
    model.update()
    
    # Set objective function - Total cost = Fixed cost + Variable costs of Highcal and Relax lines
    model.setObjective(calc_total_cost(dec_plant, dec_h, dec_r, base_yr, selected_yr, tariff), GRB.MINIMIZE)
    
    # Suppress optimization output
    model.Params.OutputFlag = 0
    
    # Optimize the model
    model.optimize()
    
    # Extract results to print as table
    op_plant = pd.DataFrame([[dec_plant[i, j].x for j in n_lines] for i in n_ctry], columns = ['Plant','H','R'], index=caps.index)
    op_h     = pd.DataFrame([[dec_h[i, j].x for j in n_ctry] for i in n_ctry], columns = tcosts.columns, index=tcosts.index)
    op_r     = pd.DataFrame([[dec_r[i, j].x for j in n_ctry] for i in n_ctry], columns = tcosts.columns, index=tcosts.index)

    return op_h, op_r

In [209]:
res_h_dict = {}
res_r_dict = {}

for id, exrate0 in tqdm(all_exrate0.items()):
    #print(f'solution for id:{id}')
    oph, opr = opt_main_func2(exrate0,2019,0)
    res_h_dict[id] = oph
    res_r_dict[id] = opr

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:03<00:00, 29.01it/s]

In [211]:
res_h_dict[2]

         LatinAmerica  Europe  AsiaWoJapan  Japan  Mexico  U.S.
from
Brazil            7.0     4.0          0.0    0.0     0.0   0.0
Germany           0.0     0.0          0.0    0.0     0.0   0.0
India             0.0     0.0          5.0    7.0     0.0   0.0
Japan             0.0     0.0          0.0    0.0     0.0   0.0
Mexico            0.0    11.0          0.0    0.0     3.0  13.0
U.S.              0.0     0.0          0.0    0.0     0.0   5.0

In [107]:
res_r_dict[2]

         LatinAmerica  Europe  AsiaWoJapan  Japan  Mexico  U.S.
from
Brazil            7.0     0.0          0.0    0.0     0.0   0.0
Germany           0.0    12.0          0.0    5.0     0.0   0.0
India             0.0     0.0          3.0    3.0     0.0   0.0
Japan             0.0     0.0          0.0    0.0     0.0   0.0
Mexico            0.0     0.0          0.0    0.0     3.0   0.0
U.S.              0.0     0.0          0.0    0.0     0.0  17.0

In [213]:
solution_year = [2018,2019,2020,2021,2022]
res_h_dict1 = {year:{id:pd.DataFrame() for id in all_exrate0.keys()} for year in solution_year}
res_r_dict1 = {year:{id:pd.DataFrame() for id in all_exrate0.keys()} for year in solution_year}

for id, exrate0 in tqdm(all_exrate0.items()):
    #print(f'solution for id:{id}')
    for year in solution_year:
        oph, opr = opt_main_func2(exrate0,year,0)
        res_h_dict1[year][id] = oph
        res_r_dict1[year][id] = opr

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:18<00:00,  5.41it/s]

# Q3

In [174]:
best_h = sum(sum(res_h_dict1[year].values()) for year in solution_year)/500
dec_h = {(row, col): h.loc[row, col] for row in h.index for col in h.columns}

In [215]:
sum(sum(res_h_dict1[year].values()) for year in solution_year)/500

         LatinAmerica  Europe  AsiaWoJapan  Japan  Mexico  U.S.
from
Brazil            7.0     4.0          0.0    0.0     0.0   0.0
Germany           0.0     0.0          0.0    0.0     0.0   0.0
India             0.0     0.0          5.0    7.0     0.0   0.0
Japan             0.0     0.0          0.0    0.0     0.0   0.0
Mexico            0.0    11.0          0.0    0.0     3.0  13.0
U.S.              0.0     0.0          0.0    0.0     0.0   5.0

In [182]:
best_r = sum(sum(res_r_dict1[year].values()) for year in solution_year)/500
dec_r = {(row, col): r.loc[row, col] for row in r.index for col in r.columns}

In [361]:
sum(sum(res_r_dict1[year].values()) for year in solution_year)/500

         LatinAmerica  Europe  AsiaWoJapan  Japan  Mexico  U.S.
from
Brazil            7.0     0.0          0.0    0.0     0.0   0.0
Germany           0.0    12.0          0.0    5.6     0.6   3.4
India             0.0     0.0          3.0    2.4     0.0   0.0
Japan             0.0     0.0          0.0    0.0     0.0   0.0
Mexico            0.0     0.0          0.0    0.0     2.4   3.4
U.S.              0.0     0.0          0.0    0.0     0.0  10.2

In [198]:
# Define the fixed strategies
strategies = {
    "Conservative": {
        ('Brazil', 'Plant'): 1.0, ('Brazil', 'H'): 1.0, ('Brazil', 'R'): 1.0,
        ('Germany', 'Plant'): 0.0, ('Germany', 'H'): 0.0, ('Germany', 'R'): 0.0,
        ('India', 'Plant'): 1.0, ('India', 'H'): 1.0, ('India', 'R'): 1.0,
        ('Japan', 'Plant'): 0.0, ('Japan', 'H'): 0.0, ('Japan', 'R'): 0.0,
        ('Mexico', 'Plant'): 0.0, ('Mexico', 'H'): 0.0, ('Mexico', 'R'): 0.0,
        ('U.S.', 'Plant'): 1.0, ('U.S.', 'H'): 1.0, ('U.S.', 'R'): 1.0
    },
    "Diversified": {
        ('Brazil', 'Plant'): 1.0, ('Brazil', 'H'): 1.0, ('Brazil', 'R'): 1.0,
        ('Germany', 'Plant'): 1.0, ('Germany', 'H'): 0.0, ('Germany', 'R'): 1.0,
        ('India', 'Plant'): 1.0, ('India', 'H'): 1.0, ('India', 'R'): 1.0,
        ('Japan', 'Plant'): 0.0, ('Japan', 'H'): 0.0, ('Japan', 'R'): 0.0,
        ('Mexico', 'Plant'): 1.0, ('Mexico', 'H'): 1.0, ('Mexico', 'R'): 1.0,
        ('U.S.', 'Plant'): 1.0, ('U.S.', 'H'): 1.0, ('U.S.', 'R'): 1.0
    },
    "Flexible": {
        ('Brazil', 'Plant'): 1.0, ('Brazil', 'H'): 1.0, ('Brazil', 'R'): 1.0,
        ('Germany', 'Plant'): 1.0, ('Germany', 'H'): 0.0, ('Germany', 'R'): 1.0,
        ('India', 'Plant'): 1.0, ('India', 'H'): 1.0, ('India', 'R'): 1.0,
        ('Japan', 'Plant'): 1.0, ('Japan', 'H'): 0.0, ('Japan', 'R'): 1.0,
        ('Mexico', 'Plant'): 1.0, ('Mexico', 'H'): 1.0, ('Mexico', 'R'): 1.0,
        ('U.S.', 'Plant'): 1.0, ('U.S.', 'H'): 1.0, ('U.S.', 'R'): 0.0
    }
}

In [200]:
# As provided before. Paste it here again to remind me which function I use here
def calc_total_cost(dec_plant, dec_h, dec_r, base_yr=2019, selected_yr=2023, tariff=0):
    x_plant = np.array(list(dec_plant.values())).reshape(len(n_ctry), len(n_lines))
    x_h = np.array(list(dec_h.values())).reshape(len(n_ctry), len(n_ctry))
    x_r = np.array(list(dec_r.values())).reshape(len(n_ctry), len(n_ctry))

    # Adjust the cost using exchange rate of give year
    reindx = exrate.loc[:, f'{base_yr}'] / exrate.loc[:, f'{selected_yr}']

    pcosts_rev = pcosts.values * reindx.values.reshape(-1,1)
    pcosts_rev = pd.DataFrame(pcosts_rev, columns=pcosts.columns[0:], index=pcosts.index)
    # return pcosts_rev
    # pcosts_rev = adj_pcosts_exrate(2019, 2023)

    duties_mat = np.zeros(len(duties)) + (1 + duties['duty'].values)[:, np.newaxis]
    np.fill_diagonal(duties_mat, 1)
    duties_mat = pd.DataFrame(duties_mat.T, index=pcosts_rev.index, columns=duties.index)
    duties_mat.loc['Germany', 'U.S.'] += tariff
    duties_mat.loc['U.S.', 'Europe']  += tariff

    vcosts_h = tcosts.add(pcosts_rev['rm_h'], axis=0).add(pcosts_rev['pc_h'], axis=0) * duties_mat
    vcosts_r = tcosts.add(pcosts_rev['rm_r'], axis=0).add(pcosts_rev['pc_r'], axis=0) * duties_mat

    fc = pcosts_rev[['fc_p','fc_h','fc_r']].values
    vh = (vcosts_h * x_h).values
    vr = (vcosts_r * x_r).values
    total_cost = sum(0.2 * fc[i,j] for i in n_ctry for j in n_lines) + sum(0.8 * fc[i,j] * x_plant[i,j] for i in n_ctry for j in n_lines) + sum(vh[i,j] for i in n_ctry for j in n_ctry) + sum(vr[i,j] for i in n_ctry for j in n_ctry)

    return total_cost

In [204]:
# Draw 100 samples and evaluate each strategy
results = {}
for strategy_name, strategy_config in strategies.items():
    costs = []
    for i in range(100):
        exrate_sample = all_exrate0[i]
        cost = calc_total_cost(strategy_config, dec_h, dec_r, base_yr=2019, selected_yr=2023, tariff=0)
        costs.append(cost)

    results[strategy_name] = {
        "Expected Cost": np.mean(costs),
        "Cost Std Dev": np.std(costs)
    }

# Display the results
results_df = pd.DataFrame(results).T
print(results_df)

              Expected Cost  Cost Std Dev
Conservative    1172.239400  2.273737e-13
Diversified     1251.506118  2.273737e-13
Flexible        1260.522888  0.000000e+00