<a href="https://colab.research.google.com/github/nosadchiy/public/blob/main/getExchangeRates_Frankfurter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from datetime import datetime, timedelta, date
import pandas as pd
from scipy.stats import multivariate_normal
import pandas as pd
import numpy as np
from gurobipy import Model, GRB, quicksum
from tabulate import tabulate
import datetime as dt
_empty_series = pd.Series(dtype=float)

In [3]:
import requests
from datetime import datetime, timedelta, date

def get_month_end_dates(start_date_str, end_date_str):
    """
    Generate a list of dates representing the last day of each month
    between start_date and end_date. If the end_date falls in the middle
    of a month, that date will be used for the final month.
    """
    start_date = datetime.strptime(start_date_str, '%Y-%m-%d').date()
    end_date   = datetime.strptime(end_date_str, '%Y-%m-%d').date()
    month_end_dates = []

    # Start from the first day of the month of start_date.
    current = start_date.replace(day=1)

    while current <= end_date:
        # Determine the first day of the next month.
        if current.month == 12:
            next_month = date(current.year + 1, 1, 1)
        else:
            next_month = date(current.year, current.month + 1, 1)

        # Last day of the current month is one day before the first day of the next month.
        last_day_of_month = next_month - timedelta(days=1)

        # If the last day of the month is after the specified end_date,
        # then use end_date (if it is in the same month) instead.
        if last_day_of_month > end_date:
            last_day_of_month = end_date

        if last_day_of_month >= start_date:
            month_end_dates.append(last_day_of_month)

        # Move to the first day of the next month.
        current = next_month

    return month_end_dates

def get_exchange_rate_for_date(date_str, base_currency="USD", symbols=None):
    """
    Fetches exchange rates for the given date from the Frankfurter API.

    :param date_str: The date string in 'YYYY-MM-DD' format.
    :param base_currency: The base currency (default "USD").
    :param symbols: A list of target currency codes.
    :return: A dictionary of exchange rates.
    """
    url = f"https://api.frankfurter.app/{date_str}"
    params = {"from": base_currency}
    if symbols:
        params["to"] = ",".join(symbols)

    response = requests.get(url, params=params)

    if response.status_code == 200:
        data = response.json()
        return data.get("rates", {})
    else:
        print(f"Error fetching data for {date_str}: HTTP {response.status_code}")
        return {}

def estimate_statistics(exchange_data):
    """
    Given a dictionary of exchange rate data with dates as keys and
    rate dictionaries as values, this function computes:

      - The average exchange rate vector.
      - The variance-covariance matrix of the exchange rates.

    :param exchange_data: dict of the form {date_str: {currency: rate, ...}, ...}
    :return: A tuple (average_vector, covariance_matrix) where:
             - average_vector is a pandas Series.
             - covariance_matrix is a pandas DataFrame.
    """
    # Convert the nested dictionary to a pandas DataFrame.
    # Rows are indexed by date and columns are the currency codes.
    df = pd.DataFrame.from_dict(exchange_data, orient="index")
    df.index = pd.to_datetime(df.index)
    df.sort_index(inplace=True)

    # Calculate the average exchange rate for each currency.
    average_vector = df.mean()

    # Calculate the variance-covariance matrix of the exchange rates.
    covariance_matrix = df.cov()

    return average_vector, covariance_matrix

In [5]:
# Specify the time period and target currencies.
start_date_str = "2019-01-01"  # Change to your desired start date.
end_date_str   = "2023-12-31"  # Change to your desired end date.
target_currencies = ['BRL', 'EUR', 'INR', 'JPY', 'MXN']

# Get a list of month-end dates for the given period.
month_end_dates = get_month_end_dates(start_date_str, end_date_str)

# Dictionary to hold the results.
exchange_data = {}

# Fetch the exchange rates for each month-end date.
for d in month_end_dates:
    date_str = d.isoformat()
    print(f"Fetching rates for {date_str}...")
    rates = get_exchange_rate_for_date(date_str, base_currency="USD", symbols=target_currencies)
    exchange_data[date_str] = rates

# Display the collected exchange rate data.
print("\nExchange Rates at Month End:")
for date_str, rates in exchange_data.items():
    print(f"{date_str}: {rates}")

# Estimate average exchange rate vector and the variance-covariance matrix.
avg_vector, cov_matrix = estimate_statistics(exchange_data)

print("\nAverage Exchange Rate Vector:")
print(avg_vector)

print("\nVariance-Covariance Matrix:")
print(cov_matrix)

Fetching rates for 2019-01-31...
Fetching rates for 2019-02-28...
Fetching rates for 2019-03-31...
Fetching rates for 2019-04-30...
Fetching rates for 2019-05-31...
Fetching rates for 2019-06-30...
Fetching rates for 2019-07-31...
Fetching rates for 2019-08-31...
Fetching rates for 2019-09-30...
Fetching rates for 2019-10-31...
Fetching rates for 2019-11-30...
Fetching rates for 2019-12-31...
Fetching rates for 2020-01-31...
Fetching rates for 2020-02-29...
Fetching rates for 2020-03-31...
Fetching rates for 2020-04-30...
Fetching rates for 2020-05-31...
Fetching rates for 2020-06-30...
Fetching rates for 2020-07-31...
Fetching rates for 2020-08-31...
Fetching rates for 2020-09-30...
Fetching rates for 2020-10-31...
Fetching rates for 2020-11-30...
Fetching rates for 2020-12-31...
Fetching rates for 2021-01-31...
Fetching rates for 2021-02-28...
Fetching rates for 2021-03-31...
Fetching rates for 2021-04-30...
Fetching rates for 2021-05-31...
Fetching rates for 2021-06-30...
Fetching rates for 2021-07-31...
Fetching rates for 2021-08-31...
Fetching rates for 2021-09-30...
Fetching rates for 2021-10-31...
Fetching rates for 2021-11-30...
Fetching rates for 2021-12-31...
Fetching rates for 2022-01-31...
Fetching rates for 2022-02-28...
Fetching rates for 2022-03-31...
Fetching rates for 2022-04-30...
Fetching rates for 2022-05-31...
Fetching rates for 2022-06-30...
Fetching rates for 2022-07-31...
Fetching rates for 2022-08-31...
Fetching rates for 2022-09-30...
Fetching rates for 2022-10-31...
Fetching rates for 2022-11-30...
Fetching rates for 2022-12-31...
Fetching rates for 2023-01-31...
Fetching rates for 2023-02-28...
Fetching rates for 2023-03-31...
Fetching rates for 2023-04-30...
Fetching rates for 2023-05-31...
Fetching rates for 2023-06-30...
Fetching rates for 2023-07-31...
Fetching rates for 2023-08-31...
Fetching rates for 2023-09-30...
Fetching rates for 2023-10-31...
Fetching rates for 2023-11-30...
Fetching rates for 2023-12-31...

Exchange Rates at Month End:
2019-01-31: {'BRL': 3.6596, 'EUR': 0.87047, 'INR': 71.109, 'JPY': 108.64, 'MXN': 19.0634}
2019-02-28: {'BRL': 3.7393, 'EUR': 0.87596, 'INR': 70.857, 'JPY': 110.76, 'MXN': 19.1897}
2019-03-31: {'BRL': 3.9043, 'EUR': 0.89008, 'INR': 69.176, 'JPY': 110.77, 'MXN': 19.3066}
2019-04-30: {'BRL': 3.9267, 'EUR': 0.89142, 'INR': 69.586, 'JPY': 111.37, 'MXN': 18.9722}
2019-05-31: {'BRL': 3.9873, 'EUR': 0.89678, 'INR': 69.717, 'JPY': 108.75, 'MXN': 19.6323}
2019-06-30: {'BRL': 3.8235, 'EUR': 0.87873, 'INR': 69.002, 'JPY': 107.73, 'MXN': 19.174}
2019-07-31: {'BRL': 3.7826, 'EUR': 0.89678, 'INR': 68.779, 'JPY': 108.55, 'MXN': 19.0117}
2019-08-31: {'BRL': 4.1572, 'EUR': 0.90613, 'INR': 71.435, 'JPY': 106.27, 'MXN': 20.077}
2019-09-30: {'BRL': 4.1591, 'EUR': 0.91836, 'INR': 70.862, 'JPY': 107.99, 'MXN': 19.7006}
2019-10-31: {'BRL': 3.9909, 'EUR': 0.89654, 'INR': 70.927, 'JPY': 108.24, 'MXN': 19.1196}
2019-11-30: {'BRL': 4.2305, 'EUR': 0.91058, 'INR': 71.652, 'JPY': 109.66, 'MXN': 19.5301}
2019-12-31: {'BRL': 4.0197, 'EUR': 0.89015, 'INR': 71.382, 'JPY': 108.55, 'MXN': 18.8891}
2020-01-31: {'BRL': 4.2668, 'EUR': 0.90481, 'INR': 71.395, 'JPY': 108.89, 'MXN': 18.8237}
2020-02-29: {'BRL': 4.485, 'EUR': 0.911, 'INR': 72.228, 'JPY': 108.74, 'MXN': 19.7112}
2020-03-31: {'BRL': 5.2027, 'EUR': 0.91274, 'INR': 75.666, 'JPY': 108.53, 'MXN': 23.893}
2020-04-30: {'BRL': 5.3848, 'EUR': 0.91946, 'INR': 75.037, 'JPY': 106.54, 'MXN': 23.717}
2020-05-31: {'BRL': 5.3569, 'EUR': 0.89799, 'INR': 75.521, 'JPY': 107.12, 'MXN': 22.064}
2020-06-30: {'BRL': 5.4579, 'EUR': 0.89302, 'INR': 75.567, 'JPY': 107.75, 'MXN': 23.171}
2020-07-31: {'BRL': 5.167, 'EUR': 0.84402, 'INR': 74.814, 'JPY': 104.92, 'MXN': 22.179}
2020-08-31: {'BRL': 5.422, 'EUR': 0.83752, 'INR': 73.258, 'JPY': 105.92, 'MXN': 21.825}
2020-09-30: {'BRL': 5.6635, 'EUR': 0.85412, 'INR': 73.71, 'JPY': 105.71, 'MXN': 22.365}
2020-10-31: {'BRL': 5.7794, 'EUR': 0.85485, 'INR': 74.466, 'JPY': 104.6, 'MXN': 21.236}
2020-11-30: {'BRL': 5.3021, 'EUR': 0.83472, 'INR': 74.065, 'JPY': 104.17, 'MXN': 20.075}
2020-12-31: {'BRL': 5.194, 'EUR': 0.81493, 'INR': 73.067, 'JPY': 103.08, 'MXN': 19.8973}
2021-01-31: {'BRL': 5.4852, 'EUR': 0.82399, 'INR': 72.866, 'JPY': 104.69, 'MXN': 20.222}
2021-02-28: {'BRL': 5.4982, 'EUR': 0.82501, 'INR': 73.905, 'JPY': 106.29, 'MXN': 20.863}
2021-03-31: {'BRL': 5.7492, 'EUR': 0.85288, 'INR': 73.186, 'JPY': 110.8, 'MXN': 20.513}
2021-04-30: {'BRL': 5.3465, 'EUR': 0.82768, 'INR': 74.061, 'JPY': 108.94, 'MXN': 20.058}
2021-05-31: {'BRL': 5.2347, 'EUR': 0.8196, 'INR': 72.568, 'JPY': 109.65, 'MXN': 19.9271}
2021-06-30: {'BRL': 4.9689, 'EUR': 0.84147, 'INR': 74.318, 'JPY': 110.59, 'MXN': 19.8401}
2021-07-31: {'BRL': 5.106, 'EUR': 0.84097, 'INR': 74.334, 'JPY': 109.65, 'MXN': 19.8705}
2021-08-31: {'BRL': 5.1873, 'EUR': 0.84502, 'INR': 72.993, 'JPY': 109.81, 'MXN': 20.1}
2021-09-30: {'BRL': 5.409, 'EUR': 0.86363, 'INR': 74.341, 'JPY': 111.99, 'MXN': 20.506}
2021-10-31: {'BRL': 5.6417, 'EUR': 0.85874, 'INR': 74.865, 'JPY': 113.89, 'MXN': 20.442}
2021-11-30: {'BRL': 5.6114, 'EUR': 0.88005, 'INR': 75.095, 'JPY': 112.82, 'MXN': 21.566}
2021-12-31: {'BRL': 5.5713, 'EUR': 0.88292, 'INR': 74.369, 'JPY': 115.12, 'MXN': 20.434}
2022-01-31: {'BRL': 5.381, 'EUR': 0.89638, 'INR': 74.731, 'JPY': 115.44, 'MXN': 20.783}
2022-02-28: {'BRL': 5.1637, 'EUR': 0.89294, 'INR': 75.498, 'JPY': 115.47, 'MXN': 20.449}
2022-03-31: {'BRL': 4.7752, 'EUR': 0.90082, 'INR': 75.786, 'JPY': 121.76, 'MXN': 19.8991}
2022-04-30: {'BRL': 4.8964, 'EUR': 0.94877, 'INR': 76.509, 'JPY': 129.99, 'MXN': 20.321}
2022-05-31: {'BRL': 4.7573, 'EUR': 0.93345, 'INR': 77.691, 'JPY': 128.22, 'MXN': 19.5902}
2022-06-30: {'BRL': 5.2209, 'EUR': 0.96274, 'INR': 79.051, 'JPY': 136.27, 'MXN': 20.183}
2022-07-31: {'BRL': 5.1715, 'EUR': 0.98058, 'INR': 79.31, 'JPY': 133.77, 'MXN': 20.273}
2022-08-31: {'BRL': 5.1482, 'EUR': 1.0, 'INR': 79.546, 'JPY': 138.72, 'MXN': 20.204}
2022-09-30: {'BRL': 5.3943, 'EUR': 1.0259, 'INR': 81.48, 'JPY': 144.66, 'MXN': 20.147}
2022-10-31: {'BRL': 5.3151, 'EUR': 1.0087, 'INR': 82.81, 'JPY': 148.68, 'MXN': 19.8832}
2022-11-30: {'BRL': 5.3068, 'EUR': 0.96376, 'INR': 81.36, 'JPY': 139.05, 'MXN': 19.2859}
2022-12-31: {'BRL': 5.2865, 'EUR': 0.93756, 'INR': 82.66, 'JPY': 131.88, 'MXN': 19.5537}
2023-01-31: {'BRL': 5.1115, 'EUR': 0.92311, 'INR': 81.82, 'JPY': 130.41, 'MXN': 18.8277}
2023-02-28: {'BRL': 5.2058, 'EUR': 0.94171, 'INR': 82.61, 'JPY': 136.76, 'MXN': 18.3143}
2023-03-31: {'BRL': 5.072, 'EUR': 0.91954, 'INR': 82.21, 'JPY': 133.18, 'MXN': 18.059}
2023-04-30: {'BRL': 4.997, 'EUR': 0.91066, 'INR': 81.83, 'JPY': 136.01, 'MXN': 18.0477}
2023-05-31: {'BRL': 5.0817, 'EUR': 0.93607, 'INR': 82.69, 'JPY': 139.6, 'MXN': 17.7163}
2023-06-30: {'BRL': 4.8581, 'EUR': 0.9203, 'INR': 82.1, 'JPY': 144.63, 'MXN': 17.0821}
2023-07-31: {'BRL': 4.7202, 'EUR': 0.90719, 'INR': 82.26, 'JPY': 142.18, 'MXN': 16.7004}
2023-08-31: {'BRL': 4.8842, 'EUR': 0.92013, 'INR': 82.75, 'JPY': 145.83, 'MXN': 16.7341}
2023-09-30: {'BRL': 5.009, 'EUR': 0.94393, 'INR': 83.08, 'JPY': 149.24, 'MXN': 17.4655}
2023-10-31: {'BRL': 5.061, 'EUR': 0.94171, 'INR': 83.27, 'JPY': 150.96, 'MXN': 18.0385}
2023-11-30: {'BRL': 4.9386, 'EUR': 0.91483, 'INR': 83.35, 'JPY': 147.46, 'MXN': 17.4033}
2023-12-31: {'BRL': 4.8523, 'EUR': 0.90498, 'INR': 83.17, 'JPY': 141.48, 'MXN': 16.944}

Average Exchange Rate Vector:
BRL      4.941342
EUR      0.898315
INR     75.962517
JPY    119.819000
MXN     19.781170
dtype: float64

Variance-Covariance Matrix:
          BRL       EUR        INR         JPY        MXN
BRL  0.333933 -0.002053   1.162764    1.260564   0.369500
EUR -0.002053  0.002218   0.126464    0.536324  -0.017826
INR  1.162764  0.126464  20.847202   63.458988  -2.909303
JPY  1.260564  0.536324  63.458988  236.177094 -14.626190
MXN  0.369500 -0.017826  -2.909303  -14.626190   2.439295

In [11]:
def get_distribution(start_date_str, end_date_str, target_currencies):
    # Get a list of month-end dates for the given period.
    month_end_dates = get_month_end_dates(start_date_str, end_date_str)
    # Dictionary to hold the results.
    exchange_data = {}
    # Fetch the exchange rates for each month-end date.
    for d in month_end_dates:
        date_str = d.isoformat()
        print(f"Fetching rates for {date_str}...")
        rates = get_exchange_rate_for_date(date_str, base_currency="USD", symbols=target_currencies)
        exchange_data[date_str] = rates
    avg_vector, cov_matrix = estimate_statistics(exchange_data)
    return avg_factor,cov_matrix

In [195]:
def get_distribution(start_date_str, end_date_str, target_currencies):
    # Get a list of month-end dates for the given period.
    month_end_dates = get_month_end_dates(start_date_str, end_date_str)
    # Dictionary to hold the results.
    exchange_data = {}
    # Fetch the exchange rates for each month-end date.
    for d in month_end_dates:
        date_str = d.isoformat()
        print(f"Fetching rates for {date_str}...")
        rates = get_exchange_rate_for_date(date_str, base_currency="USD", symbols=target_currencies)
        exchange_data[date_str] = rates
    avg_factor, cov_matrix = estimate_statistics(exchange_data)
    return avg_factor,cov_matrix
    
from tqdm import tqdm

year_list = ['2018','2019','2020','2021','2022','2023']
target_currencies = ['BRL', 'EUR', 'INR', 'JPY', 'MXN']
singal_year_dict = {year: None for year in year_list}
for i in tqdm(range(len(year_list))):
    start, end = year_list[i]+'-01-01', year_list[i]+'-12-31'
    avg_factor, cov_matrix = get_distribution(start, end, target_currencies)
    mvn_distribution = multivariate_normal(mean=avg_vector, cov=cov_matrix)
    sample = mvn_distribution.rvs(size=100, random_state = 114514)
    # 数组末尾+1 代表USD
    sample_usd = np.hstack((sample, np.ones((sample.shape[0], 1))))
    singal_year_dict[year_list[i]] = sample_usd

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

Fetching rates for 2018-01-31...
Fetching rates for 2018-02-28...
Fetching rates for 2018-03-31...
Fetching rates for 2018-04-30...
Fetching rates for 2018-05-31...
Fetching rates for 2018-06-30...
Fetching rates for 2018-07-31...
Fetching rates for 2018-08-31...
Fetching rates for 2018-09-30...
Fetching rates for 2018-10-31...
Fetching rates for 2018-11-30...
Fetching rates for 2018-12-31...

 17%|██████████████                                                                      | 1/6 [00:01<00:05,  1.11s/it]

Fetching rates for 2019-01-31...
Fetching rates for 2019-02-28...
Fetching rates for 2019-03-31...
Fetching rates for 2019-04-30...
Fetching rates for 2019-05-31...
Fetching rates for 2019-06-30...
Fetching rates for 2019-07-31...
Fetching rates for 2019-08-31...
Fetching rates for 2019-09-30...
Fetching rates for 2019-10-31...
Fetching rates for 2019-11-30...
Fetching rates for 2019-12-31...

 33%|████████████████████████████                                                        | 2/6 [00:02<00:04,  1.09s/it]

Fetching rates for 2020-01-31...
Fetching rates for 2020-02-29...
Fetching rates for 2020-03-31...
Fetching rates for 2020-04-30...
Fetching rates for 2020-05-31...
Fetching rates for 2020-06-30...
Fetching rates for 2020-07-31...
Fetching rates for 2020-08-31...
Fetching rates for 2020-09-30...
Fetching rates for 2020-10-31...
Fetching rates for 2020-11-30...

 50%|██████████████████████████████████████████                                          | 3/6 [00:03<00:03,  1.07s/it]

Fetching rates for 2020-12-31...
Fetching rates for 2021-01-31...
Fetching rates for 2021-02-28...
Fetching rates for 2021-03-31...
Fetching rates for 2021-04-30...
Fetching rates for 2021-05-31...
Fetching rates for 2021-06-30...
Fetching rates for 2021-07-31...
Fetching rates for 2021-08-31...
Fetching rates for 2021-09-30...
Fetching rates for 2021-10-31...
Fetching rates for 2021-11-30...

 67%|████████████████████████████████████████████████████████                            | 4/6 [00:04<00:02,  1.07s/it]

Fetching rates for 2021-12-31...
Fetching rates for 2022-01-31...
Fetching rates for 2022-02-28...
Fetching rates for 2022-03-31...
Fetching rates for 2022-04-30...
Fetching rates for 2022-05-31...
Fetching rates for 2022-06-30...
Fetching rates for 2022-07-31...
Fetching rates for 2022-08-31...
Fetching rates for 2022-09-30...
Fetching rates for 2022-10-31...
Fetching rates for 2022-11-30...

 83%|██████████████████████████████████████████████████████████████████████              | 5/6 [00:05<00:01,  1.06s/it]

Fetching rates for 2022-12-31...
Fetching rates for 2023-01-31...
Fetching rates for 2023-02-28...
Fetching rates for 2023-03-31...
Fetching rates for 2023-04-30...
Fetching rates for 2023-05-31...
Fetching rates for 2023-06-30...
Fetching rates for 2023-07-31...
Fetching rates for 2023-08-31...
Fetching rates for 2023-09-30...
Fetching rates for 2023-10-31...
Fetching rates for 2023-11-30...

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:06<00:00,  1.07s/it]

Fetching rates for 2023-12-31...

In [197]:
singal_year_dict['2023'][1]

array([  4.84022648,   0.89316226,  76.41626655, 122.24072344,
        19.2067724 ,   1.        ])

In [199]:
# 合成exrate0 不要像他那样dict和df用同一变量 容易出问题
index_list = [i for i in range(0,100,1)]
all_exrate0 = {index:pd.DataFrame() for index in index_list}
yl = ['2018', '2019', '2020', '2021', '2022', '2023']  # 确保 2023 包含在内
for index in index_list:
    exrate0_dict = {year: None for year in yl}
    for year in yl:  # 这里不再使用 yl[:-1]，确保 2023 也被包含
        try:
            exrate0_dict[year] = singal_year_dict[year][index]
        except:
            print(f'Error {year}-{index}')
    exrate0 = pd.DataFrame(exrate0_dict, index=['BRL', 'EUR', 'INR', 'JPY', 'MXN', 'USD'])
    all_exrate0[index] = exrate0

In [367]:
all_exrate0[2]

           2018        2019        2020        2021        2022        2023
BRL    4.694905    4.951419    4.482755    4.825272    4.827697    4.965723
EUR    0.862032    0.900681    0.903248    0.878964    0.837679    0.917234
INR   71.783316   75.878163   73.771124   75.578986   73.080674   76.641529
JPY  115.913073  122.187739  120.468368  115.285996  103.689873  129.615979
MXN   19.170972   19.519236   17.263791   19.857330   19.972334   19.563666
USD    1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

In [203]:
selected_yr = 2023
base_yr = 2019

demand = pd.DataFrame({
    'from': ['LatinAmerica', 'Europe', 'AsiaWoJapan', 'Japan', 'Mexico', 'U.S.'],
    'd_h': [  7, 15,  5,  7,  3, 18],
    'd_r': [  7, 12,  3,  8,  3, 17],
})
demand.set_index('from', inplace=True)

caps = pd.DataFrame({
    'plant': ['Brazil', 'Germany', 'India', 'Japan', 'Mexico', 'U.S.'],
    'cap': [18, 45, 18, 10, 30, 22],
})
caps.set_index('plant', inplace=True)

pcosts = pd.DataFrame({
    'plant': ['Brazil', 'Germany', 'India', 'Japan', 'Mexico', 'U.S.'],
    'fc_p': [20, 45, 14, 13, 30, 23],
    'fc_h': [ 5, 13,  3,  4,  6,  5],
    'fc_r': [ 5, 13,  3,  4,  6,  5],
    'rm_h': [3.6, 3.9, 3.6, 3.9, 3.6, 3.6],
    'pc_h': [5.1, 6.0, 4.5, 6.0, 5.0, 5.0],
    'rm_r': [4.6, 5.0, 4.5, 5.1, 4.6, 4.5],
    'pc_r': [6.6, 7.0, 6.0, 7.0, 6.5, 6.5],
})
pcosts.set_index('plant', inplace=True)

tcosts = pd.DataFrame({
    'from': ['Brazil', 'Germany', 'India', 'Japan', 'Mexico', 'U.S.'],
    'LatinAmerica': [ 0.20, 0.45, 0.50, 0.50, 0.40, 0.45],
    'Europe':       [ 0.45, 0.20, 0.35, 0.40, 0.30, 0.30],
    'AsiaWoJapan':  [ 0.50, 0.35, 0.20, 0.30, 0.50, 0.45],
    'Japan':        [ 0.50, 0.40, 0.30, 0.10, 0.45, 0.45],
    'Mexico':       [ 0.40, 0.30, 0.50, 0.45, 0.20, 0.25],
    'U.S.':           [ 0.45, 0.30, 0.45, 0.45, 0.25, 0.20],
})
tcosts.set_index('from', inplace=True)

duties = pd.DataFrame({
    'from': ['LatinAmerica', 'Europe', 'AsiaWoJapan', 'Japan', 'Mexico', 'U.S.'],
    'duty': [ 0.30, 0.03, 0.27, 0.06, 0.35, 0.04],
})
duties.set_index('from', inplace=True)

In [205]:
# identify number of supply and demand location for iterations
n_ctry = range(demand.shape[0])
n_lines = range(demand.shape[1]+1)

# Objective function to calculate cost
def calc_total_cost(dec_plant, dec_h, dec_r, base_yr=2019, selected_yr=2023, tariff=0):
    x_plant = np.array(list(dec_plant.values())).reshape(len(n_ctry), len(n_lines))
    x_h = np.array(list(dec_h.values())).reshape(len(n_ctry), len(n_ctry))
    x_r = np.array(list(dec_r.values())).reshape(len(n_ctry), len(n_ctry))

    # Adjust the cost using exchange rate of give year
    reindx = exrate.loc[:, f'{base_yr}'] / exrate.loc[:, f'{selected_yr}']

    pcosts_rev = pcosts.values * reindx.values.reshape(-1,1)
    pcosts_rev = pd.DataFrame(pcosts_rev, columns=pcosts.columns[0:], index=pcosts.index)
    # return pcosts_rev
    # pcosts_rev = adj_pcosts_exrate(2019, 2023)

    duties_mat = np.zeros(len(duties)) + (1 + duties['duty'].values)[:, np.newaxis]
    np.fill_diagonal(duties_mat, 1)
    duties_mat = pd.DataFrame(duties_mat.T, index=pcosts_rev.index, columns=duties.index)
    duties_mat.loc['Germany', 'U.S.'] += tariff
    duties_mat.loc['U.S.', 'Europe']  += tariff

    vcosts_h = tcosts.add(pcosts_rev['rm_h'], axis=0).add(pcosts_rev['pc_h'], axis=0) * duties_mat
    vcosts_r = tcosts.add(pcosts_rev['rm_r'], axis=0).add(pcosts_rev['pc_r'], axis=0) * duties_mat

    fc = pcosts_rev[['fc_p','fc_h','fc_r']].values
    vh = (vcosts_h * x_h).values
    vr = (vcosts_r * x_r).values
    total_cost = sum(0.2 * fc[i,j] for i in n_ctry for j in n_lines) + sum(0.8 * fc[i,j] * x_plant[i,j] for i in n_ctry for j in n_lines) + sum(vh[i,j] for i in n_ctry for j in n_ctry) + sum(vr[i,j] for i in n_ctry for j in n_ctry)

    return total_cost


# Calculate excess capacity given decision variables
def calc_excess_cap(dec_plant, dec_h, dec_r):
    x_plant = np.array(list(dec_plant.values())).reshape(len(n_ctry), len(n_lines))
    x_h = np.array(list(dec_h.values())).reshape(len(n_ctry), len(n_ctry))
    x_r = np.array(list(dec_r.values())).reshape(len(n_ctry), len(n_ctry))

    excess_cap = (x_plant * caps.values).copy()
    excess_cap[:, 0] -= (np.sum(x_h, axis=1) + np.sum(x_r, axis=1))
    excess_cap[:, 1] -= np.sum(x_h, axis=1)
    excess_cap[:, 2] -= np.sum(x_r, axis=1)
    return excess_cap

# Calculate unmet demand given decision variables
def calc_unmet_demand(dec_h, dec_r):
    x_h = np.array(list(dec_h.values())).reshape(len(n_ctry), len(n_ctry))
    x_r = np.array(list(dec_r.values())).reshape(len(n_ctry), len(n_ctry))

    x_h_sum = np.sum(x_h, axis=0)
    x_r_sum = np.sum(x_r, axis=0)
    unmet_demand = (demand.values).copy()
    unmet_demand = np.column_stack((x_h_sum - unmet_demand[:, 0], x_r_sum - unmet_demand[:, 1]))

    return unmet_demand

In [371]:
# Prompt the user to enter the year
def opt_main_func(exrate, selected_yr, tariff):
    
    # Create a Gurobi model
    model = Model("MinimizeCost")
    
    # Assign initial value of decision variables
    dec_plant = {(i, j): 1 for i in n_ctry for j in n_lines}
    dec_h     = {(i, j): 1 for i in n_ctry for j in n_ctry}
    dec_r     = {(i, j): 1 for i in n_ctry for j in n_ctry}
    
    # Define decision variables
    dec_plant = {(i, j): model.addVar(vtype=GRB.BINARY, name=f"Dec_plant_{i}_{j}")    for i in n_ctry for j in n_lines}
    dec_h     = {(i, j): model.addVar(vtype=GRB.CONTINUOUS, lb=0, name=f"Dec_h_{i}_{j}") for i in n_ctry for j in n_ctry}
    dec_r     = {(i, j): model.addVar(vtype=GRB.CONTINUOUS, lb=0, name=f"Dec_r_{i}_{j}") for i in n_ctry for j in n_ctry}
    
    # Excess Capacity constraints
    excess_cap = calc_excess_cap(dec_plant, dec_h, dec_r)
    for i in n_ctry:
        for j in n_lines:
            model.addConstr(excess_cap[i, j] >= 0, name=f"Excess_Cap_Constraints_{i}_{j}")
    
    
    # Unmet demand constraints
    unnmet_demand = calc_unmet_demand(dec_h, dec_r)
    for i in n_ctry:
        for j in range(2):
            model.addConstr(unnmet_demand[i,j] == 0, name=f"Unmet_Demand_Constraints_{i}_{j}")
    
    
    # Update the model
    model.update()
    
    # Set objective function - Total cost = Fixed cost + Variable costs of Highcal and Relax lines
    model.setObjective(calc_total_cost(dec_plant, dec_h, dec_r, base_yr, selected_yr, tariff), GRB.MINIMIZE)
    
    # Suppress optimization output
    model.Params.OutputFlag = 0
    
    # Optimize the model
    model.optimize()
    
    # Extract results to print as table
    op_plant = pd.DataFrame([[dec_plant[i, j].x for j in n_lines] for i in n_ctry], columns = ['Plant','H','R'], index=caps.index)
    op_h     = pd.DataFrame([[dec_h[i, j].x for j in n_ctry] for i in n_ctry], columns = tcosts.columns, index=tcosts.index)
    op_r     = pd.DataFrame([[dec_r[i, j].x for j in n_ctry] for i in n_ctry], columns = tcosts.columns, index=tcosts.index)

    '''
    print("\nHighCal Flow\n")
    print(tabulate(op_h, headers='keys', tablefmt='pretty'))
    print("\nRelax Flow\n")
    print(tabulate(op_r, headers='keys', tablefmt='pretty'))
    print("\nStrategy\n")
    print(tabulate(op_plant, headers='keys', tablefmt='pretty'))
    print(f"\nMinimum Cost: $ {round(model.objVal,2)} in year {selected_yr} at Tariff {(tariff*100)}")
    '''
    
    #results = {
    #    "HighCal Flow": tabulate(op_h, headers='keys', tablefmt='pretty'),
    #    "Relax Flow": tabulate(op_r, headers='keys', tablefmt='pretty'),
    #    "Strategy": tabulate(op_plant, headers='keys', tablefmt='pretty'),
    #    "Minimum Cost": f"$ {round(model.objVal, 2)} in year {selected_yr} at Tariff {tariff * 100}%"
    #}

    return op_plant

In [373]:
for id, exrate0 in tqdm(all_exrate0.items()):
    #print(f'solution for id:{id}')
    opplant = opt_main_func(exrate0,2018,0.5) #changable
    res_dict[id] = opplant

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:02<00:00, 35.01it/s]

In [375]:
res_dict[3]

         Plant    H    R
plant
Brazil     1.0  1.0  1.0
Germany    1.0  0.0  1.0
India      1.0  1.0  1.0
Japan      0.0 -0.0  0.0
Mexico     1.0  1.0  1.0
U.S.       1.0  1.0  1.0

In [313]:
sum(res_dict[id] for id in all_exrate0.keys())/100

         Plant    H    R
plant
Brazil     1.0  1.0  1.0
Germany    1.0  0.0  1.0
India      1.0  1.0  1.0
Japan      0.0  0.0  0.0
Mexico     1.0  1.0  1.0
U.S.       1.0  1.0  1.0

In [321]:
solution_year = [2018,2019,2020,2021,2022]
res_dict = {year:{id:pd.DataFrame() for id in all_exrate0.keys()} for year in solution_year}

for id, exrate0 in tqdm(all_exrate0.items()):
    #print(f'solution for id:{id}')
    for year in solution_year:
        opplant = opt_main_func(exrate0,year,0)
        res_dict[year][id] = opplant

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:20<00:00,  4.90it/s]

In [323]:
sum(sum(res_dict[key].values()) for key in solution_year)/500

         Plant    H    R
plant
Brazil     1.0  1.0  1.0
Germany    1.0  0.0  1.0
India      1.0  1.0  1.0
Japan      0.2  0.2  0.0
Mexico     0.8  0.8  0.8
U.S.       1.0  1.0  0.6

In [377]:
# Prompt the user to enter the year
def opt_main_func(exrate, selected_yr, tariff):
    
    # Create a Gurobi model
    model = Model("MinimizeCost")
    
    # Assign initial value of decision variables
    dec_plant = {(i, j): 1 for i in n_ctry for j in n_lines}
    dec_h     = {(i, j): 1 for i in n_ctry for j in n_ctry}
    dec_r     = {(i, j): 1 for i in n_ctry for j in n_ctry}
    
    # Define decision variables
    dec_plant = {(i, j): model.addVar(vtype=GRB.BINARY, name=f"Dec_plant_{i}_{j}")    for i in n_ctry for j in n_lines}
    dec_h     = {(i, j): model.addVar(vtype=GRB.CONTINUOUS, lb=0, name=f"Dec_h_{i}_{j}") for i in n_ctry for j in n_ctry}
    dec_r     = {(i, j): model.addVar(vtype=GRB.CONTINUOUS, lb=0, name=f"Dec_r_{i}_{j}") for i in n_ctry for j in n_ctry}
    
    # Excess Capacity constraints
    excess_cap = calc_excess_cap(dec_plant, dec_h, dec_r)
    for i in n_ctry:
        for j in n_lines:
            model.addConstr(excess_cap[i, j] >= 0, name=f"Excess_Cap_Constraints_{i}_{j}")
    
    
    # Unmet demand constraints
    unnmet_demand = calc_unmet_demand(dec_h, dec_r)
    for i in n_ctry:
        for j in range(2):
            model.addConstr(unnmet_demand[i,j] == 0, name=f"Unmet_Demand_Constraints_{i}_{j}")
    
    
    # Update the model
    model.update()
    
    # Set objective function - Total cost = Fixed cost + Variable costs of Highcal and Relax lines
    model.setObjective(calc_total_cost(dec_plant, dec_h, dec_r, base_yr, selected_yr, tariff), GRB.MINIMIZE)
    
    # Suppress optimization output
    model.Params.OutputFlag = 0
    
    # Optimize the model
    model.optimize()
    
    # Extract results to print as table
    op_plant = pd.DataFrame([[dec_plant[i, j].x for j in n_lines] for i in n_ctry], columns = ['Plant','H','R'], index=caps.index)
    op_h     = pd.DataFrame([[dec_h[i, j].x for j in n_ctry] for i in n_ctry], columns = tcosts.columns, index=tcosts.index)
    op_r     = pd.DataFrame([[dec_r[i, j].x for j in n_ctry] for i in n_ctry], columns = tcosts.columns, index=tcosts.index)

    return op_h, op_r

In [379]:
res_h_dict = {}
res_r_dict = {}

for id, exrate0 in tqdm(all_exrate0.items()):
    #print(f'solution for id:{id}')
    oph, opr = opt_main_func(exrate0,2019,0)
    res_h_dict[id] = oph
    res_r_dict[id] = opr

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:03<00:00, 26.94it/s]

In [381]:
res_h_dict[2]

         LatinAmerica  Europe  AsiaWoJapan  Japan  Mexico  U.S.
from
Brazil            7.0     4.0          0.0    0.0     0.0   0.0
Germany           0.0     0.0          0.0    0.0     0.0   0.0
India             0.0     0.0          5.0    7.0     0.0   0.0
Japan             0.0     0.0          0.0    0.0     0.0   0.0
Mexico            0.0    11.0          0.0    0.0     3.0  13.0
U.S.              0.0     0.0          0.0    0.0     0.0   5.0

In [337]:
res_r_dict[2]

         LatinAmerica  Europe  AsiaWoJapan  Japan  Mexico  U.S.
from
Brazil            7.0     0.0          0.0    0.0     0.0   0.0
Germany           0.0    12.0          0.0    5.0     0.0   0.0
India             0.0     0.0          3.0    3.0     0.0   0.0
Japan             0.0     0.0          0.0    0.0     0.0   0.0
Mexico            0.0     0.0          0.0    0.0     3.0   0.0
U.S.              0.0     0.0          0.0    0.0     0.0  17.0

In [357]:
solution_year = [2018,2019,2020,2021,2022]
res_h_dict = {year:{id:pd.DataFrame() for id in all_exrate0.keys()} for year in solution_year}
res_r_dict = {year:{id:pd.DataFrame() for id in all_exrate0.keys()} for year in solution_year}

for id, exrate0 in tqdm(all_exrate0.items()):
    #print(f'solution for id:{id}')
    for year in solution_year:
        oph, opr = opt_main_func(exrate0,year,0)
        res_h_dict[year][id] = oph
        res_r_dict[year][id] = opr

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:17<00:00,  5.58it/s]

In [359]:
sum(sum(res_h_dict[year].values()) for year in solution_year)/500

         LatinAmerica  Europe  AsiaWoJapan  Japan  Mexico  U.S.
from
Brazil            7.0     4.0          0.0    0.0     0.0   0.0
Germany           0.0     0.0          0.0    0.0     0.0   0.0
India             0.0     2.0          5.0    5.6     0.0   0.0
Japan             0.0     0.0          0.0    1.4     0.0   0.0
Mexico            0.0     8.0          0.0    0.0     2.4   7.8
U.S.              0.0     1.0          0.0    0.0     0.6  10.2

In [361]:
sum(sum(res_r_dict[year].values()) for year in solution_year)/500

         LatinAmerica  Europe  AsiaWoJapan  Japan  Mexico  U.S.
from
Brazil            7.0     0.0          0.0    0.0     0.0   0.0
Germany           0.0    12.0          0.0    5.6     0.6   3.4
India             0.0     0.0          3.0    2.4     0.0   0.0
Japan             0.0     0.0          0.0    0.0     0.0   0.0
Mexico            0.0     0.0          0.0    0.0     2.4   3.4
U.S.              0.0     0.0          0.0    0.0     0.0  10.2